<template>
  <svg viewBox="0 0 869.503 670.849" width="869.503" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
    <linearGradient id="a" gradientUnits="objectBoundingBox" x1=".5" x2=".5" y2="1">
      <stop offset="0" stop-color="#f94f4f"/>
      <stop offset="1" stop-color="#f66363"/>
    </linearGradient>
    <g transform="translate(-313.972 -131.651)">
      <path d="m1176.415 533.071c-15.044-41.945-38.735-54.707-61.269-81.613-27.52-32.858-46.083-56.745-38.938-99.006 11.677-69.061 16.675-241.3-166.157-218.786-65.531 8.071-117.316 58.287-154.99 108.415-32.054 42.655-89.717 46.418-136.133 56.362-57.026 12.22-115.118 30.676-167.88 57.717-108.663 55.694-141.118 135.76-136.686 238.2 1.337 30.95 5.719 79.7 58 136.744 70.566 76.993 173.107 87.3 296.522 51.944 28.25-8.094 54.953-20.788 82.745-30.344a390.429 390.429 0 0 1 89.3-19.39c70.883-6.853 144.361 5.541 212.359-15.622a224.043 224.043 0 0 0 94.977-58.9c32.478-34.022 44.028-81.45 28.15-125.721z"
            fill="#f5f5fc"/>
      <path d="m336.984 363.24c0 10.116 128.384 18.324 286.768 18.324 158.362 0 286.746-8.208 286.746-18.324s-128.384-18.33-286.746-18.33c-158.384 0-286.768 8.206-286.768 18.33z"
            fill="#e5e5ff" transform="translate(35.377 327.848)"/>
      <path d="m494.161 368c0 6.333-32.592 11.466-72.8 11.466s-72.8-5.133-72.8-11.466 32.592-11.466 72.8-11.466 72.8 5.13 72.8 11.466z"
            fill="#e5e5ff" transform="translate(53.187 345.713)"/>
      <ellipse cx="1031.612" cy="716.105" fill="#e5e5ff" rx="122.142" ry="9.073"/>
      <path d="m351.11 302.6-4.69 65.688h62.66l-4.317-65.811z" fill="#d7d7ff" transform="translate(49.884 262.619)"/>
      <path d="m353.167 305.909a2.009 2.009 0 0 1 2.147-1.822 1.843 1.843 0 1 1 .008 3.636 2.012 2.012 0 0 1 -2.155-1.814zm2.149-1.132a1.163 1.163 0 1 0 0 2.251 1.163 1.163 0 1 0 0-2.251z"
            fill="#eae6ff" transform="translate(60.255 265.086)"/>
      <path d="m361.586 305.888h.348-.348a1.676 1.676 0 0 1 .5-1.177 2.326 2.326 0 0 1 1.642-.644h.008a2 2 0 0 1 2.147 1.812 1.671 1.671 0 0 1 -.65 1.309 2.348 2.348 0 0 1 -1.494.512 2.01 2.01 0 0 1 -2.153-1.812zm2.144-1.129a1.627 1.627 0 0 0 -1.149.444.969.969 0 0 0 -.3.682 1.33 1.33 0 0 0 1.459 1.121 1.666 1.666 0 0 0 1.056-.355 1 1 0 0 0 .4-.771 1.325 1.325 0 0 0 -1.454-1.121z"
            fill="#eae6ff" transform="translate(73.198 265.057)"/>
      <path d="m364.537 318.466c.2 0 .4-.005.609-.01 3.925-.132 6.919-1.4 8.9-3.758 3.273-3.91 2.532-9.363 2.5-9.594a.686.686 0 0 0 -.784-.586.7.7 0 0 0 -.591.784c.008.051.683 5.085-2.195 8.513-1.713 2.04-4.364 3.136-7.873 3.253q-5.1.152-7.617-2.659c-3.06-3.405-2.306-9-2.3-9.058a.695.695 0 0 0 -1.375-.2c-.036.256-.855 6.282 2.636 10.177 1.864 2.085 4.584 3.138 8.09 3.138z"
            fill="#eae6ff" transform="translate(61.076 265.736)"/>
      <path d="m364.42 309.861-7.488 48.839 68.03-.16-6.889-48.8z" fill="#bdc6f9"
            transform="translate(66.043 273.773)"/>
      <path d="m358.313 342.284a13.8 13.8 0 1 0 13.8 13.8 13.8 13.8 0 0 0 -13.8-13.8zm0 20.2a6.406 6.406 0 1 1 6.432-6.407 6.4 6.4 0 0 1 -6.432 6.412z"
            fill="#8784ef" transform="translate(46.955 323.811)"/>
      <path d="m357.421 342.284a13.8 13.8 0 1 0 13.8 13.8 13.8 13.8 0 0 0 -13.8-13.8zm0 20.2a6.406 6.406 0 1 1 6.432-6.407 6.4 6.4 0 0 1 -6.432 6.412z"
            fill="#9aa3f4" transform="translate(45.579 323.811)"/>
      <path d="m389.037 342.284a13.8 13.8 0 1 0 13.8 13.8 13.8 13.8 0 0 0 -13.8-13.8zm0 20.2a6.406 6.406 0 1 1 6.435-6.407 6.4 6.4 0 0 1 -6.435 6.412z"
            fill="#8784ef" transform="translate(94.187 323.811)"/>
      <path d="m388.143 342.284a13.8 13.8 0 1 0 13.8 13.8 13.8 13.8 0 0 0 -13.8-13.8zm0 20.2a6.406 6.406 0 1 1 6.435-6.407 6.4 6.4 0 0 1 -6.435 6.412z"
            fill="#9aa3f4" transform="translate(92.813 323.811)"/>
      <g fill="none" stroke="#9aa3f4" stroke-miterlimit="10" stroke-width="1.5">
        <path d="m468.519 281.241h-41.46a12.627 12.627 0 0 0 -10.72 5.953l-25.059 40.236"
              transform="translate(118.848 229.968)"/>
        <path d="m359.273 376.994h92.648a10.046 10.046 0 0 0 9.918-8.454l9.586-59.8a10.045 10.045 0 0 0 -9.918-11.634h-111.82a10.046 10.046 0 0 0 -9.918 11.634l9.589 59.8a10.041 10.041 0 0 0 9.915 8.454z"
              transform="translate(39.461 254.355)"/>
        <path d="m445.058 551.459v79.89"/>
        <path d="m506.348 591.404h-122.579"/>
        <path d="m481.649 551.459-7.928 79.89"/>
        <path d="m410.297 551.459 7.318 79.89"/>
        <path d="m456.824 327.158 15.011 22.321a9.145 9.145 0 0 1 -7.589 14.247h-122.766"
              transform="translate(42.289 300.557)"/>
      </g>
      <g transform="translate(538.579 332.517)">
        <path d="m0 0h127.09v34.188h-127.09z" fill="#4a74c8" transform="translate(156.07 305.799)"/>
        <rect fill="#5f8be3" height="316.961" rx="9.387" width="440.57"/>
        <rect fill="#EFFBFA" height="274.992" rx="5.768" width="414.618" x="12.306" y="11.557"/>
        <path d="m7.322 0h221.7a7.322 7.322 0 0 1 7.322 7.322v14.231a0 0 0 0 1 0 0h-236.344a0 0 0 0 1 0 0v-14.231a7.322 7.322 0 0 1 7.322-7.322z"
              fill="#5f8be3" transform="translate(101.443 337.015)"/>
        <rect fill="#fff" height="195.005" opacity=".35" rx="5.01" width="290.11" x="111.321" y="30.55"/>
        <g opacity=".25" transform="translate(111.32 30.55)">
          <path d="m27.572 142.449h12.637v31.726h-12.637z" fill="#fca70c"/>
          <path d="m56.048 114.598h12.637v59.576h-12.637z" fill="#b1affd"/>
          <path d="m84.525 120.759h12.637v53.416h-12.637z" fill="#fca70c"/>
          <path d="m113.001 90.6h12.637v83.575h-12.637z" fill="#b1affd"/>
          <path d="m56.048 114.598h5.8v59.576h-5.8z" opacity=".039"/>
          <path d="m27.572 142.449h5.8v31.726h-5.8z" opacity=".039"/>
          <path d="m113.001 90.6h5.8v83.575h-5.8z" opacity=".1612"/>
          <path d="m84.525 120.759h5.8v53.416h-5.8z" opacity=".039"/>
          <g fill="#d5dbda">
            <path d="m567.042 367.91h-113.1v-120.43h1.725v118.7h111.375z"
                  transform="translate(-434.717 -185.002)"/>
            <path d="m459.22 306.424-1.152-1.284 29.586-26.566 27.4 5.953 29.674-33.035 1.284 1.153-30.342 33.781-27.521-5.979z"
                  transform="translate(-428.378 -178.832)"/>
            <path d="m498.715 260.483-8.367-8.024 10.8-2.89z" transform="translate(-378.752 -181.79)"/>
          </g>
          <path d="m143.035 140.199h8.678v8.678h-8.678z" fill="#b1affd"/>
          <path d="m143.035 155.405h8.678v8.679h-8.678z" fill="#fca70c"/>
          <path d="m154.104 159.152h27.51v4.932h-27.51z" fill="#efefef"/>
          <path d="m154.104 143.946h27.51v4.932h-27.51z" fill="#efefef"/>
          <path d="m194.073 140.199h8.679v8.678h-8.679z" fill="#b1affd"/>
          <path d="m194.073 155.405h8.679v8.679h-8.679z" fill="#fca70c"/>
          <path d="m205.142 159.152h27.51v4.932h-27.51z" fill="#efefef"/>
          <path d="m205.142 143.946h27.51v4.932h-27.51z" fill="#efefef"/>
          <path d="m240.031 140.199h8.678v8.678h-8.678z" fill="#b1affd"/>
          <path d="m240.031 155.405h8.678v8.679h-8.678z" fill="#fca70c"/>
          <g fill="#efefef">
            <path d="m251.1 159.152h18.103v4.932h-18.103z"/>
            <path d="m251.1 143.946h18.103v4.932h-18.103z"/>
            <path d="m144.659 57.28h124.545v2.265h-124.545z"/>
            <path d="m19.226 29.488h249.978v5.183h-249.978z"/>
            <path d="m144.285 64.322h124.918v2.264h-124.918z"/>
            <path d="m144.285 50.238h124.918v2.264h-124.918z"/>
            <path d="m144.285 71.363h124.918v2.264h-124.918z"/>
            <path d="m144.285 78.405h124.918v2.264h-124.918z"/>
            <path d="m144.285 85.447h124.918v2.265h-124.918z"/>
            <path d="m144.285 92.489h124.918v2.264h-124.918z"/>
            <path d="m144.285 99.531h124.918v2.264h-124.918z"/>
            <path d="m144.285 106.572h124.918v2.264h-124.918z"/>
            <path d="m159.579 113.614h109.625v2.264h-109.625z"/>
          </g>
          <path d="m723.764 222.856h-264.686a12.712 12.712 0 0 0 -12.712 12.712v11.126h290.11v-11.126a12.712 12.712 0 0 0 -12.712-12.712z"
                fill="currentColor" transform="translate(-446.366 -222.856)"/>
          <path d="m550.438 229.945a3.665 3.665 0 1 1 -3.664-3.664 3.665 3.665 0 0 1 3.664 3.664z" fill="#cfcfff"
                transform="translate(-297.642 -217.591)"/>
          <circle cx="264.071" cy="12.355" fill="#cfcfff" r="3.665"/>
          <circle cx="279.01" cy="12.355" fill="#cfcfff" r="3.665"/>
        </g>
        <rect fill="#f75b5b" height="195.005" opacity=".55" rx="5.01" width="290.11" x="34.257" y="73.685"/>
        <rect fill="#fff" height="195.005" rx="5.01" width="290.11" x="40.143" y="66.091"/>
        <path d="m0 0h12.637v31.726h-12.637z" fill="currentColor" transform="translate(67.714 208.541)"/>
        <path d="m96.19 180.69h12.638v59.576h-12.638z" fill="#b1affd"/>
        <path d="m0 0h12.637v53.416h-12.637z" fill="currentColor" transform="translate(124.667 186.851)"/>
        <path d="m153.143 156.692h12.637v83.575h-12.637z" fill="#b1affd"/>
        <path d="m96.19 180.69h5.8v59.576h-5.8z" opacity=".039"/>
        <path d="m67.714 208.541h5.8v31.726h-5.8z" opacity=".039"/>
        <path d="m153.143 156.692h5.8v83.575h-5.8z" opacity=".1612"/>
        <path d="m124.667 186.851h5.8v53.416h-5.8z" fill="#241111" opacity=".039"/>
        <path d="m538.99 375.4h-113.1v-109.673h1.725v107.946h111.375z" fill="#d5dbda"
              transform="translate(-366.523 -126.399)"/>
        <path d="m431.167 320.431-1.152-1.284 29.585-26.566 27.4 5.953 29.678-33.034 1.284 1.153-30.345 33.781-27.517-5.979z"
              fill="#d5dbda" transform="translate(-360.182 -126.748)"/>
        <path d="m470.662 274.49-8.367-8.024 10.8-2.89z" fill="#d5dbda" transform="translate(-310.558 -129.705)"/>
        <path d="m183.177 206.291h8.679v8.678h-8.679z" fill="#b1affd"/>
        <path d="m0 0h8.679v8.679h-8.679z" fill="currentColor" transform="translate(183.177 221.497)"/>
        <path d="m194.246 225.244h27.51v4.932h-27.51z" fill="#efefef"/>
        <path d="m194.246 210.038h27.51v4.932h-27.51z" fill="#efefef"/>
        <path d="m234.215 206.291h8.679v8.678h-8.679z" fill="#b1affd"/>
        <path d="m0 0h8.679v8.679h-8.679z" fill="currentColor" transform="translate(234.215 221.497)"/>
        <path d="m245.284 225.244h27.51v4.932h-27.51z" fill="#efefef"/>
        <path d="m245.284 210.038h27.51v4.932h-27.51z" fill="#efefef"/>
        <path d="m280.173 206.291h8.679v8.678h-8.679z" fill="#b1affd"/>
        <path d="m0 0h8.679v8.679h-8.679z" fill="currentColor" transform="translate(280.173 221.497)"/>
        <g fill="#efefef">
          <path d="m291.242 225.244h18.103v4.932h-18.103z"/>
          <path d="m291.242 210.038h18.103v4.932h-18.103z"/>
          <path d="m184.801 123.372h124.544v2.265h-124.544z"/>
          <path d="m59.368 95.58h249.978v5.183h-249.978z"/>
          <path d="m184.428 130.414h124.918v2.264h-124.918z"/>
          <path d="m184.428 116.33h124.918v2.264h-124.918z"/>
          <path d="m184.428 137.455h124.918v2.264h-124.918z"/>
          <path d="m184.428 144.497h124.918v2.264h-124.918z"/>
          <path d="m184.428 151.539h124.918v2.265h-124.918z"/>
          <path d="m184.428 158.581h124.918v2.264h-124.918z"/>
          <path d="m184.428 165.623h124.918v2.264h-124.918z"/>
          <path d="m184.428 172.664h124.918v2.264h-124.918z"/>
          <path d="m199.721 179.706h109.625v2.264h-109.625z"/>
        </g>
        <path d="m695.712 236.863h-264.686a12.712 12.712 0 0 0 -12.712 12.712v11.125h290.11v-11.125a12.712 12.712 0 0 0 -12.712-12.712z"
              fill="currentColor" transform="translate(-378.171 -170.772)"/>
        <g fill="#fff">
          <path d="m522.386 243.952a3.665 3.665 0 1 1 -3.666-3.664 3.667 3.667 0 0 1 3.666 3.664z"
                transform="translate(-229.447 -165.507)"/>
          <path d="m528.276 243.952a3.666 3.666 0 1 1 -3.667-3.664 3.667 3.667 0 0 1 3.667 3.664z"
                transform="translate(-220.396 -165.507)"/>
          <path d="m534.161 243.952a3.665 3.665 0 1 1 -3.664-3.664 3.666 3.666 0 0 1 3.664 3.664z"
                transform="translate(-211.345 -165.507)"/>
        </g>
        <path d="m616.465 210.9h-67.937q.7 33.044 1.122 66.095c.043 3.37 0 6.846-1.228 9.959l-.1-.005c-.9-.048-.5.233-.812 1.845 0 .023-.015.051-.02.074-2.748 4.486-8.109 6.94-13.329 8.094a1.324 1.324 0 0 0 .084.728 1.67 1.67 0 0 0 -.525 2.053c.317.736 4.222 1.733 9.525 1.162a25.286 25.286 0 0 0 5.884-1.632 9.133 9.133 0 0 0 2.167-1.477 7.486 7.486 0 0 0 1.987-.48l.216.2 6.079-2.646s-.665-3.836-1.19-5.833a3.476 3.476 0 0 0 -.4-.939 278.634 278.634 0 0 0 11.928-42.4c-1.106 17.9-7.536 54.248-8.013 55.5a9.331 9.331 0 0 1 -7.726 5.425c-1.439.119-8.515-.289-7.752 2.966.183.776 3.857 2.438 9.18 2.794a25.213 25.213 0 0 0 6.077-.586 11.275 11.275 0 0 0 3.788-2.063l.82 1.094 6.445-1.553s-.01-1.677-.051-3.7a8.223 8.223 0 0 0 -1.38-3.93l.089-3.666 3.573-.421s7.176-23.209 10.583-31.1a69.48 69.48 0 0 0 3.857-9.888c1.048-4.027 1.147-8.226 1.479-12.372a109.392 109.392 0 0 1 4.151-22.336 3.3 3.3 0 0 1 .606-1.3 3.462 3.462 0 0 1 2.35-.82c9.132-.837 13.318.716 19.032-1.056 7.534-2.337 8.332-5.755 8.7-5.92a23.709 23.709 0 0 0 -9.259-1.866z"
              fill="#5851bc" opacity=".35" transform="translate(-201.008 -210.681)"/>
        <path d="m602.7 318.572v-78.789c-10.723 15.381-21.334 29.167-32.057 44.548-4.654 6.671-22.876 28.776-10.446 37.646 3.172 2.263 8.7 2.159 11.458 2.372 9.915.771 19.74-2.235 29.38-5.222.554-.169 1.112-.354 1.665-.555z"
              fill="#385369" opacity=".35" transform="translate(-162.132 -166.283)"/>
        <path d="m601.3 282.3-6.539.5-.124-.37-5.09.393-1.532-4.331a6.57 6.57 0 0 0 -6.417-4.072 3.507 3.507 0 0 0 -3.253 4.864c.266.748 1.01 2.849 1.52 4.288l-5.356.414.114.373-11.032.855c-1.743.01-4.318 2.261-3.76 3.834l.089.231a2.274 2.274 0 0 0 .051.408l9.543 26.926-.241 113.411h11.075l20.952-81.464zm-17.211-.842a3.683 3.683 0 0 1 -3.6-2.286 1.964 1.964 0 0 1 1.824-2.728 3.684 3.684 0 0 1 3.6 2.284 1.966 1.966 0 0 1 -1.823 2.725z"
              fill="#5851bc" opacity=".35" transform="translate(-160.733 -113.063)"/>
        <path d="m430.183 262.063c-2.464 2.717-5.369 8.505-6.551 11-1.248 2.456-2.6 3.847-6.11 5.5-4.846 2.218-10.04 4.339-15.029 6.3v12.867c10.147-6.1 19.332-11.8 19.487-11.857 7.757 2.966 14.245-3.484 16.325-8.135.934-2.088-.467-2.941-.53-3.933-.036-.518.632-3.537.53-3.925-.606-2.718-7.9-.343-7.295-1.637a9.269 9.269 0 0 1 3.037-4.549c3.573-2.438 6.31-5.143 6.31-6.168-.002-1.773-9.329 3.609-10.174 4.537z"
              fill="#ffb9b0" opacity=".35" transform="translate(-402.493 -139.56)"/>
      </g>
      <g transform="translate(959.313 520.409)">
        <rect fill="#a2a7f4" height="198.09" rx="6.949" width="171.294"/>
        <g fill="#9090f4">
          <rect height="40.688" rx="1.773" width="144.867" x="15.845" y="20.732"/>
          <rect height="25.828" rx="1.773" width="37.25" x="15.845" y="75.849"/>
          <rect height="25.828" rx="1.773" width="37.25" x="69.654" y="75.849"/>
          <rect height="25.828" rx="1.773" width="37.25" x="123.462" y="75.849"/>
          <rect height="25.827" rx="1.773" width="37.25" x="15.845" y="117.368"/>
          <rect height="25.827" rx="1.773" width="37.25" x="69.654" y="117.368"/>
          <rect height="25.828" rx="1.773" width="37.25" x="15.845" y="158.887"/>
          <rect height="25.828" rx="1.773" width="37.25" x="69.654" y="158.887"/>
          <rect height="67.347" rx="1.773" width="37.25" x="123.462" y="117.368"/>
        </g>
        <g fill="#e2deff" opacity=".45" transform="translate(13.212 18.101)">
          <path d="m573.518 296.5a4.5 4.5 0 0 1 4.5-4.5h135.87a4.5 4.5 0 0 1 4.5 4.5v31.689a4.5 4.5 0 0 1 -4.5 4.5h-135.871"
                transform="translate(-573.518 -292.001)"/>
          <rect height="25.828" rx="1.773" width="37.25" x=".001" y="55.116"/>
          <rect height="25.828" rx="1.773" width="37.25" x="53.809" y="55.116"/>
          <rect height="25.828" rx="1.773" width="37.25" x="107.618" y="55.116"/>
          <rect height="25.828" rx="1.773" width="37.25" x=".001" y="96.635"/>
          <rect height="25.828" rx="1.773" width="37.25" x="53.809" y="96.635"/>
          <rect height="25.828" rx="1.773" width="37.25" x=".001" y="138.155"/>
          <rect height="25.828" rx="1.773" width="37.25" x="53.809" y="138.155"/>
        </g>
        <rect fill="currentColor" height="67.347" rx="1.773" transform="translate(120.83 114.737)" width="37.25"/>
        <path d="m618.563 395.567v-58.349a4.5 4.5 0 0 1 4.5-4.5h28.253a4.487 4.487 0 0 1 1.571.3 4.489 4.489 0 0 0 -4.2-2.931h-28.256a4.5 4.5 0 0 0 -4.5 4.5v58.348a4.491 4.491 0 0 0 2.928 4.2 4.474 4.474 0 0 1 -.296-1.568z"
              fill="currentColor" transform="translate(-495.102 -215.351)"/>
        <path d="m568.311 319.018 4.59 12.075h19.2s-1.332 52.211-1.416 62 8.053 77.3 8.053 77.3h11.119l-1.157-85.123 15.77-43.672s11.862 58.468 16.779 68.249 31.339 60.548 31.339 60.548h10.2l-26.198-111.957-11.245-38.9-56.689-26.5-20.344 2"
              fill="#5851bc" opacity=".35" transform="translate(-568.311 -272.306)"/>
      </g>
      <path d="m422.577 320.47-8.95 92.723 87.937.02-8.506-92.9z" fill="currentColor"
            transform="translate(153.204 290.033)"/>
      <path d="m423.2 325.413a3.079 3.079 0 0 1 3.291-2.8h.005a2.829 2.829 0 1 1 .01 5.579h-.006a3.081 3.081 0 0 1 -3.3-2.779zm3.293-1.733a1.783 1.783 0 1 0 .005 3.451h.005a1.783 1.783 0 1 0 -.005-3.451z"
            fill="#5851bc" transform="translate(167.917 293.577)"/>
      <path d="m436.115 325.384h.53-.53a2.553 2.553 0 0 1 .771-1.807 3.546 3.546 0 0 1 2.514-.99h.015a3.075 3.075 0 0 1 3.293 2.778 2.566 2.566 0 0 1 -1 2.009 3.614 3.614 0 0 1 -2.291.789h-.005a3.082 3.082 0 0 1 -3.297-2.779zm3.288-1.733a2.491 2.491 0 0 0 -1.764.68 1.477 1.477 0 0 0 -.462 1.048 2.038 2.038 0 0 0 2.235 1.72h.005a2.569 2.569 0 0 0 1.619-.546 1.54 1.54 0 0 0 .609-1.182 2.033 2.033 0 0 0 -2.233-1.72z"
            fill="#5851bc" transform="translate(187.775 293.532)"/>
      <path d="m440.649 344.681c.307 0 .616-.005.936-.015 6.021-.2 10.614-2.142 13.648-5.765 5.024-6 3.887-14.366 3.837-14.719a1.065 1.065 0 0 0 -2.109.3c.01.079 1.048 7.8-3.37 13.062-2.629 3.131-6.693 4.811-12.08 4.991-5.214.155-9.1-1.2-11.687-4.078-4.694-5.227-3.54-13.816-3.527-13.9a1.066 1.066 0 0 0 -2.111-.3c-.053.391-1.312 9.639 4.044 15.617 2.87 3.191 7.039 4.807 12.419 4.807z"
            fill="#5851bc" transform="translate(169.181 294.573)"/>
      <path d="m394.492 239.537c3.4 5.876.464 13.907 3.9 19.766 1.375 2.344 3.7 4.189 4.362 6.825a5.949 5.949 0 0 1 -8.556 6.7 7.276 7.276 0 0 0 -1.322-.655c-1.7-.5-3.235 1.01-4.694 2.007a7.164 7.164 0 0 1 -6.182 1.096c-2.636-.883-4.268-3.54-5.146-6.178-2.456-7.373-.71-15.447 1.558-22.882 1.134-3.715 2.809-7.835 6.452-9.183"
            fill="#24446e" transform="translate(94.835 162.005)"/>
      <path d="m465.677 277.752c.056.817 1.3 1.52.472 3.24-1.847 3.836-7.6 9.152-14.491 6.709-.3.107-38.04 21.922-40.947 21.922s-22.711-18.742-29.192-41.934c-1.545-5.534-.944-12.042 4.24-14.843 0 0 4.321 1.048 7.127 6.343 4.291 8.1 17.14 34.919 19.987 35.931 3.55-2.365 20.831-7.5 34.827-13.445 3.118-1.36 4.316-2.507 5.425-4.534 1.051-2.053 3.626-6.825 5.816-9.066.749-.766 9.03-5.2 9.03-3.745 0 .842-2.431 3.075-5.6 5.085a7.591 7.591 0 0 0 -2.695 3.75c-.54 1.066 5.935-.891 6.473 1.35.091.319-.5 2.811-.472 3.237z"
            fill="#ffb9b0" transform="translate(102.695 186.315)"/>
      <path d="m385.019 252.577a17 17 0 0 1 11.271 8.741 35.267 35.267 0 0 1 1.535 3.522c2.01 5.115 4.775 9.743 6.785 14.856-2.748 2.218-6.074 3.238-8.876 4.28a18.963 18.963 0 0 1 -8.262 1.109 4.181 4.181 0 0 1 -1.39-.307 4.577 4.577 0 0 1 -1.446-1.243q-1.29-1.48-2.512-3.019a8.293 8.293 0 0 1 -1.687-2.888 8.767 8.767 0 0 1 .4-4.5"
            fill="#3876c8" transform="translate(101.926 185.902)"/>
      <path d="m385.475 258.451a1.75 1.75 0 0 0 -.647-.551 1.173 1.173 0 0 0 -1.357.6 3.116 3.116 0 0 0 -.282 1.576 21.5 21.5 0 0 0 .964 6.123l-.642 10.786.015.023a18.927 18.927 0 0 0 7.726-1.127c1.167-.434 2.426-.883 3.694-1.4-1.296-6.073-5.44-11.222-9.471-16.03z"
            fill="#7762ef" opacity=".35" transform="translate(106.407 193.996)"/>
      <g fill="#ffb9b0">
        <path d="m393.327 249.551s-.145 6.754.893 7.2a26.468 26.468 0 0 0 4.364 1.35l.068 13.976-18.634-2.809-12.818-7.14s13.324-4.417 13.44-5.745-.733-8.8-.733-8.8"
              transform="translate(81.829 178.218)"/>
        <path d="m368.526 344.146-.01.053c-5.1 24.171-2.669 57.377-3.806 75.572.266.074 6.927.908 6.927.908s15.767-76.7 18.629-91.384a20.78 20.78 0 0 0 .363-2.844c.688-11.053-9.274-11.616-14.886-2.479a38.255 38.255 0 0 0 -2.568 4.933c-.317.721-.611 1.451-.918 2.23l-.005.025a71.951 71.951 0 0 0 -2.471 7.716l-.058.279c-.233.774-.424 1.558-.611 2.345l-.038.178c-.198.808-.374 1.622-.548 2.468z"
              transform="translate(78.001 285.858)"/>
        <path d="m395.831 303.228c-.188 2-1.253 11.517-2.535 22.742-1.094 9.439-2.291 20.078-3.225 28.5-.693 6.318-1.2 11.357-1.413 13.73a30.755 30.755 0 0 1 -.561 4.08v.053c-2.4 11.037-10.025 11.679-14.663 9.119a9.261 9.261 0 0 1 -1.761-1.2 5.925 5.925 0 0 1 -1.973-3.252v-.025c-.292-2.268-.586-5.361-.853-9.041v-.053c-.025-.025-.025-.025-.025-.053l-.028-.079c-.561-7.173-1.04-16.4-1.467-25.383-.5-11.04-.827-21.679-.906-27.677-.028-.348-.028-.667-.053-.987-.081-18.4 16.825-30.181 27.33-24.475a2.676 2.676 0 0 1 .373.185 3.964 3.964 0 0 0 .4.241c1.2.8 1.6 3.545 1.626 6.691.053 2.297-.107 4.804-.266 6.884z"
              transform="translate(80.548 240.024)"/>
        <path d="m370.346 324.147-1.286-4.818c-.005.025-.005.025.013.058a77.042 77.042 0 0 1 -1.6 16.825l-.058.279c-.185.761-.378 1.571-.611 2.345l-.038.178a13.122 13.122 0 0 0 -.546 2.469l-.01.053c-.015 2.185 4.638-7.518 5.7-9.786.132-.289.213-.454.213-.454l-1.259-5.054z"
              transform="translate(80.307 288.522)"/>
        <path d="m382.206 348.441v.053c-.482 25.307 7.333 55.065 9.4 73.448.251.008 6.384-.82 6.384-.82s1.167-77.533 1.248-92.853a23.209 23.209 0 0 0 -.155-2.92c-1.256-11.162-10.312-9.249-13.811 1.231a45.283 45.283 0 0 0 -1.474 5.544c-.16.8-.3 1.6-.444 2.446v.028c-.426 2.606-.733 5.379-.913 8.287l-.005.294c-.079.827-.117 1.654-.152 2.482l-.005.188c-.04.851-.055 1.709-.073 2.592z"
              transform="translate(104.865 286.18)"/>
        <path d="m395.884 384.762a6.588 6.588 0 0 1 -1.779-.776 5.069 5.069 0 0 1 -2.327-2.74v-.028c-.665-2.18-1.456-5.224-2.334-8.817-.02-.03-.02-.03-.018-.058l-.038-.091c-1.708-6.98-3.735-16.038-5.625-24.853-2.322-10.85-4.428-21.359-5.508-27.324-.086-.322-1.02-4.666-1.083-4.986-3.243-18.487 11.177-30.532 21.656-27.01.15.051.279.1.408.142 2.109.845 2.692 8.256 3.167 13.265s4.034 56.92 4.925 66.305a37.512 37.512 0 0 1 .183 4.207c-.25 11.602-7.011 14.147-11.627 12.764z"
              transform="translate(96.447 239.537)"/>
        <path d="m383.695 325.39-1.977-4.473c0 .028 0 .028.02.056a86.042 86.042 0 0 1 1.418 17.13l-.005.294c-.038.8-.074 1.657-.152 2.482l-.005.188a15.232 15.232 0 0 0 -.071 2.593v.053c.358 2.177 2.9-8.629 3.471-11.152.068-.32.114-.5.114-.5l-1.992-4.714z"
              transform="translate(104.148 290.962)"/>
      </g>
      <path d="m377.273 281.152s-13.573 17.239-12.173 34.561c.579 7.209 1.474 13.562 2.294 20.816.119 1.045 1.746 16.277 1.286 16.292 0 0 27.961 8.64 54.974-2.679 0-1.847 2.162-37.3-12.43-71.1a235.157 235.157 0 0 1 -33.951 2.11z"
            fill="#3876c8" transform="translate(78.441 226.585)"/>
      <path d="m418.622 283.623c-.107 4.938-2.735 7.944-6.5 12.106-.477.741-1.647 11.75-2.045 19.068-.208 3.809 1.418 6.2 0 6.513-5.425 4.732-24.972 8.563-33.939 2.106.939-7.96-2.626-25.5-5.031-34.411-.376-1.373-.705-2.532-1-3.425-2.24-6.772-6.285-28.489-3.291-29.435.6-.188 1.522-.431 2.6-.756 4.686-1.413 11.611-3.841 11.611-3.841s4.062 12.017 14.623 13.468c5.765-2.375 5.257-9.665 5.189-13.016 1.885.52 2.715 1.038 8.558 2.768 1.637 2.362.223 7.29 2.87 14.638.646 1.825 6.484 8.201 6.355 14.217z"
            fill="#3876c8" transform="translate(79.588 184.317)"/>
      <path d="m403.139 238.987s1.068 13.055-1.16 19.9c-1.649 5.067-8.421 9.8-14.085 9.733-15.589 0-18.385-21.174-18.3-22.2s22.993-9.911 22.993-9.911z"
            fill="#ffb9b0" transform="translate(85.501 161.198)"/>
      <path d="m409.226 367.245c-5.549 1-11.479-.561-13.91-.139-2.01.343-7.171 1.652-9.1-.084s-1.621-7.863.6-8.68a7.97 7.97 0 0 0 1.441.348 15.172 15.172 0 0 0 6.569-.538c4.222 1.738 4.377 2.5 9.178 3.466a31.2 31.2 0 0 1 6.115 1.855c2.068.945 2.233 3.214-.893 3.772z"
            fill="#5045af" transform="translate(109.098 348.203)"/>
      <path d="m382.515 372.28c-5.559-.936-9.078-4.012-11.509-4.435-2.007-.358-7.064-1.342-7.594-3.415-.393-1.54 1.134-7.947 3.5-7.965a8.112 8.112 0 0 0 1.238.815 15.205 15.205 0 0 0 6.364 1.713c3.387 3.063 3.278 3.829 7.467 6.361a31.177 31.177 0 0 1 5.128 3.814c1.627 1.59-1.461 3.64-4.594 3.112z"
            fill="#5045af" transform="translate(75.91 345.611)"/>
      <path d="m338.972 271.933 5.105-6.074 31.148 27.852s15.209-20.243 19.39-26.563c4.6-6.95 8.746-12.895 15.473-14.057 1.55.957-.523 25.919-1.332 26.523-9.4 7.031-27.685 29.709-33.5 30.889-6.716 1.36-36.284-38.57-36.284-38.57z"
            fill="#ffb9b0" transform="translate(38.433 186.692)"/>
      <path d="m383 252.655s-6.364.081-9.1 2.334-15.81 22.976-15.81 22.976a9.213 9.213 0 0 0 3.438 7.2 19.083 19.083 0 0 0 9.416 4.075s6.562-6.531 10.261-9.5c2.3-1.852 2.532 2.73 2.532 2.73l11.57-11.3z"
            fill="#3876c8" transform="translate(67.819 186.022)"/>
      <path d="m370.166 286.772c-.348-.185-.688-.386-1.018-.584-1.786-1.066-3.428-2.187-4.179-4.217-1.084-2.926-1.6-7.414-.089-10.251 1.028-1.921 2.956-3.177 4.278-4.907 1.827-2.393 2.367-5.519 2.522-8.523s-.025-6.052.606-8.995c1.078-5.029 2.512-9.819 6.389-13.06 6.209-5.191 18.654-8.267 25.424-2.479 1.231 1.053 1.472 1.9 3.134 2.06a12.226 12.226 0 0 1 5.681 1.659c2.22 1.284 4.915 3.093 4.6 6.008-.218 2.017-2.509 5.212-4.235 6.163a5.134 5.134 0 0 1 -2.393.535c-2.639.051-4.828-1.665-7.419-1.388a4.932 4.932 0 0 0 -3.248 1.8c-.934 1.152-.807 2.758-1.9 3.834-1.748 1.728-4.458 1.581-6.529 2.7a2.189 2.189 0 0 0 -.893.736 2.352 2.352 0 0 0 -.226 1.109l-.119 3.271c-1.028-.452-1.134-1.913-1.982-2.649a2.355 2.355 0 0 0 -2.969.19 4.978 4.978 0 0 0 -1.431 2.847 8.182 8.182 0 0 0 .576 3.9c.677 2.223 2.583 4.225 4.121 2.756 1.116 1.642-.1 4.382-.145 6.237-.033 1.472-.005 4.39 1.37 5.356 1.266.891 3.271.216 3.349 2.507.069 2.1-2.03 3.735-4.11 3.991s-4.141-.477-6.153-1.073-4.212-1.063-6.168-.3c-1.185.459-2.207 1.35-3.463 1.558a5.425 5.425 0 0 1 -3.381-.791z"
            fill="#24446e" transform="translate(76.813 152.159)"/>
      <path d="m358.433 272.144s-7.32-5.869-7.82-7.475-.606-3.326-1.21-4.9a9.166 9.166 0 0 0 -5.08-5.054c-1.835-.756-.936-1.378-2.9-1-2.966.573-4.374 3.481-5.559 5.755-5.057 9.69 8.792 11.524 9.279 11.545 1.01.04 6.163 5.881 6.163 5.881"
            fill="#ffb9b0" transform="translate(31.946 187.483)"/>
      <path d="m335.344 270.72 5.014 3.347a1.382 1.382 0 0 0 1.951-.442l11.015-18.456-6.524-3.679-11.824 17.3a1.381 1.381 0 0 0 .368 1.93z"
            fill="#f0890a" transform="translate(31.912 184.231)"/>
      <path d="m329.222 250.3 1.725 1.175 6.978-10.17-1.725-1.175c-2.453-1.675-6.006-.754-7.934 2.055-1.926 2.808-1.5 6.441.956 8.115z"
            fill="#f0890a" transform="translate(20.121 165.484)"/>
      <path d="m325.4 269.029 32.1 4.873 7.332-10.684-16.2-28.043z" fill="#fca70c"
            transform="translate(17.565 159.15)"/>
      <path d="m326.206 255.475 30.046 4.428 2.922-4.258-25.287-11.363z" fill="#f0890a"
            transform="translate(18.808 173.15)"/>
      <path d="m344.167 259.313a4.082 4.082 0 0 0 5.549-1.436l1.3-1.9a4.051 4.051 0 0 0 -.667-5.673 4.084 4.084 0 0 0 -5.549 1.436l-1.3 1.9a4.048 4.048 0 0 0 .667 5.673z"
            fill="#fca70c" transform="translate(44.094 181.508)"/>
      <path d="m344.8 250.764-1.3 1.9a3.8 3.8 0 1 0 6.216 4.235l1.3-1.9a4.218 4.218 0 0 0 .266-.447 3.729 3.729 0 1 1 -6.163-4.2 4.3 4.3 0 0 0 -.319.412z"
            fill="#fca70c" transform="translate(44.095 182.486)"/>
      <path d="m325.522 271.111a2.4 2.4 0 0 0 3.258-.842l22.02-32.085a2.381 2.381 0 0 0 -.393-3.334 2.4 2.4 0 0 0 -3.258.845l-22.019 32.084a2.381 2.381 0 0 0 .392 3.332z"
            fill="#f0890a" transform="translate(16.394 158.122)"/>
      <path d="m350.969 234.883-18.337 26.717a2.4 2.4 0 0 1 -3.258.845 1.992 1.992 0 0 1 -.563-.611l-3.682 5.364a2.23 2.23 0 1 0 3.651 2.489l22.02-32.087a2.526 2.526 0 0 0 .169-2.717z"
            fill="#fca70c" transform="translate(16.394 158.701)"/>
      <path d="m340.8 262.8 2.078 1.416c3.065 2.091 7.5.941 9.906-2.565l2.065-3.007c2.405-3.507 1.87-8.043-1.2-10.132l-2.078-1.416c-3.065-2.091-7.5-.941-9.906 2.565l-2.065 3.007c-2.4 3.506-1.864 8.043 1.2 10.132z"
            fill="#fca70c" transform="translate(37.094 175.871)"/>
      <path d="m340.9 248.594-3.091 4.5a2.286 2.286 0 0 0 .378 3.207l9.665 6.587a2.307 2.307 0 0 0 3.136-.812l3.091-4.5a2.307 2.307 0 0 1 -3.136.812l-9.665-6.584a2.292 2.292 0 0 1 -.378-3.21z"
            fill="#f0890a" transform="translate(35.914 179.779)"/>
      <path d="m335.466 263.457a10.1 10.1 0 0 1 1.763-7.543 16.214 16.214 0 0 1 1.8-1.939 2.485 2.485 0 0 1 1.084-.716 3.416 3.416 0 0 1 2.347.53 4.272 4.272 0 0 1 1.923 1.911c.535 1.314-.375 2.41-1.411 3.065a.529.529 0 0 0 -.259.256c-.058.175.063.4.178.6a4.358 4.358 0 0 1 .743 2.5 1.467 1.467 0 0 1 -1.723 1.289c-.378-.061-.883-.208-1.007.081a.617.617 0 0 0 -.008.327 2.681 2.681 0 0 1 -.584 2.114.739.739 0 0 1 -.464.292 1.227 1.227 0 0 1 -.487-.066 6.618 6.618 0 0 1 -1.715-.761"
            fill="#ffb9b0" transform="translate(32.864 186.863)"/>
      <path d="m344.677 265.1a38.435 38.435 0 0 1 -.6-3.938 8.956 8.956 0 0 0 -4.235-7.363 1.072 1.072 0 0 0 -.688-.2.758.758 0 0 0 -.561.66 2.039 2.039 0 0 0 .135.908c.3.931 1.619 2.679 1.21 3.639a10.89 10.89 0 0 0 -1.045 4.565c.046 1.393.7 3.654 2.344 3.882"
            fill="#ffb9b0" transform="translate(37.834 187.456)"/>
      <path d="m345.29 378.798 6.457 15.226" fill="none" stroke="#f0890a" stroke-linecap="round"
            stroke-linejoin="round" stroke-width=".75"/>
      <path d="m331.806 392.339 13.235 9.919" fill="none" stroke="#f0890a" stroke-linecap="round"
            stroke-linejoin="round" stroke-width=".75"/>
      <path d="m323.27 410.783 16.46 1.617" fill="none" stroke="#f0890a" stroke-linecap="round"
            stroke-linejoin="round" stroke-width=".75"/>
      <path d="m543.938 190.783s-5.912-4.171-6.122-5.922-4.331-8.85-5.651-10.263-8.249-3.814-9.726-4.027-9.961.51-8.906 1.667 6.546.736 7.6 1.37l1.055.632s-1.055 1.434-.634 2.3-1.812 2.2-.967 3.679-.342 1.378.414 2.92c1.248 2.545 4.443 3.963 5.288 3.268.634 1.507 3.058 4.582 5.328 4.372s7.79 4.96 7.79 4.96"
            fill="#ffb9b0" transform="translate(306.652 59.776)"/>
      <path d="m574.4 166.819c.2 3.971-.081 10.885 1.055 11.91s4.806.865 4.806.865-13.118 16.587-14.29 15.676-16.688-13.554-13.2-14.209 6.9-.513 6.8-2.317-.2-3.611-.3-5.415"
            fill="#ffb9b0" transform="translate(366.329 54.064)"/>
      <path d="m595.222 247.933s-25.594 2.905-31.486 3.027-5.6-2.956-5.6-2.956c-.3-6.485-1.4-21.768-2.619-26.946-1.137-4.836-1.642-6.622-2.631-11.217-2.2-10.213-2.106-12.164-4.438-24.769l15.288-12.288s1.583 4.7 7.99 4.783c8.566.109 11.23-5.889 11.23-5.889l20.852 13.844 1.956 33.675-2.494 27.733"
            fill="#fca70c" transform="translate(360.468 61.531)"/>
      <path d="m577.245 178.936a44.511 44.511 0 0 1 -1.8 5.884c-1.352 3.514-3.344 4.775-7.061 4.864l-7.838.185c-2 .048-4.5.117-6.12-1.292s-1.642-3.743-2-5.676q-.681-3.707-1.111-7.457a109.644 109.644 0 0 1 -.69-14.744 10.514 10.514 0 0 1 .175-2.017 1.46 1.46 0 0 1 .335-.741 1.645 1.645 0 0 1 .941-.363 80.437 80.437 0 0 1 14.815-.949c3.5.1 7.206.507 9.974 2.649 2.788 2.154 4.11 5.656 5.3 8.972.19.533.332 1.243-.129 1.568"
            fill="#ffb9b0" transform="translate(363.775 38.35)"/>
      <path d="m538.476 239.87a55.834 55.834 0 0 0 1.524 6.83c.677 1.738 6.386.134 6.765-.99s-1.8-9.4-1.8-9.4"
            fill="#ed9c80" transform="translate(345.136 160.892)"/>
      <path d="m556.654 241.814c.495 1.875 1.119 5.478 1.119 5.478l-5.709 2.484-.936-.878a10.556 10.556 0 0 1 -3.166 2.525 23.721 23.721 0 0 1 -5.524 1.533c-4.983.535-8.65-.4-8.947-1.091-1.236-2.887 5.377-3.661 6.688-4.006a8.76 8.76 0 0 0 6.262-6.275c.292-1.512-.084-1.779.761-1.733a2.012 2.012 0 0 1 1.428.672 3.6 3.6 0 0 0 4.055.941 4.312 4.312 0 0 0 2.022-1.685 2.491 2.491 0 0 1 1.947 2.035z"
            fill="#38287c" transform="translate(337.237 166.228)"/>
      <path d="m578.489 227.644a96.719 96.719 0 0 1 -29.139.69c1.261 3.616 4.351 8.246 5.529 13.336 3.887 16.8 5.237 39.382 6.224 53.347 0 0-1.865 3.585-7.848.855-8.937-22.072-24.541-66.805-24.4-76.511.185-12.354 31.021-15.338 53.622-18.383"
            fill="#453087" transform="translate(330.35 106.579)"/>
      <path d="m615.829 203.149c7.107 5.189-39.392 24.736-39.392 24.736a77.432 77.432 0 0 1 -15.239 1.454 11.113 11.113 0 0 1 -1.134-2.882c-.274-1.35-.127-2.756-.363-4.111a9.559 9.559 0 0 0 -4.646-6.262 20.909 20.909 0 0 0 -7.6-2.461c-6.287-1.015-17.264-.3-17.264-.3 13.976-10.3 42.569-11.649 55.887-12.5 2.551 4.201 28.731 1.582 29.751 2.326z"
            fill="#38287c" transform="translate(332.402 106.338)"/>
      <path d="m544.286 243.783a55.863 55.863 0 0 0 .32 6.993c.365 1.832 6.267 1.241 6.833.2s-.14-9.571-.14-9.571"
            fill="#ed9c80" transform="translate(354.066 168.724)"/>
      <path d="m562.686 248.063c.162 1.936.152 5.59.152 5.59l-6.051 1.459-.771-1.03a10.544 10.544 0 0 1 -3.555 1.939 23.715 23.715 0 0 1 -5.709.551c-5-.335-8.447-1.893-8.619-2.624-.718-3.057 5.927-2.674 7.28-2.786a8.762 8.762 0 0 0 7.254-5.095c.551-1.439.228-1.766 1.053-1.573a2.011 2.011 0 0 1 1.289.908 3.6 3.6 0 0 0 3.831 1.629 4.312 4.312 0 0 0 2.284-1.307 2.489 2.489 0 0 1 1.562 2.339z"
            fill="#38287c" transform="translate(344.526 173.396)"/>
      <path d="m612.718 201.334a288 288 0 0 1 -31.5 1c-4.024 0-34.454 5.709-37.365 10.865-4.788 8.482 3.123 58.054 2.39 93.544 0 0 3.649 3.045 10.1.183 1.6-17.434 11.905-58.561 4.8-77.761 16.777 2.225 30.311 4.438 45.56-.617 3.57-1.182 6.239-3.7 7.845-8.317 1.608-4.631.768-14.756-1.83-18.897z"
            fill="#453087" transform="translate(351.021 107.125)"/>
      <path d="m605.695 172.112s-3.656.2-4.369.259a33.6 33.6 0 0 0 -9.038 1.71c-4.146 1.535-7.072 5.392-10.446 8.409-3.25 2.9-20.093 18.951-23.234 19.543s-30.719-18.307-30.719-18.307l-6.732 6.734s29.923 27.649 38.846 27.7c4.331.023 28.218-12.552 35.862-17.439z"
            fill="#fca70c" transform="translate(318.51 62.201)"/>
      <path d="m560.071 202.522c-6.151.348-34.34-21.182-37.608-23.694l-1.307 1.307s29.923 27.649 38.846 27.7c3.611.018 20.791-8.708 30.841-14.448l2.6-1.51-1.56-9.3s-25.283 19.577-31.812 19.945z"
            fill="#ce4a30" opacity=".25" transform="translate(318.51 72.526)"/>
      <path d="m532.581 230.027h68.5l-12.281-40.039a5.264 5.264 0 0 0 -5.032-3.72h-59.991a3.412 3.412 0 0 0 -3.263 4.415z"
            fill="#747e88" transform="translate(317.287 83.964)"/>
      <path d="m532.867 230.027h67.465l-12.281-40.039a5.264 5.264 0 0 0 -5.034-3.72h-59.984a3.415 3.415 0 0 0 -3.265 4.415l11.766 38.359a1.394 1.394 0 0 0 1.333.985z"
            fill="#38424d" transform="translate(316.141 83.964)"/>
      <path d="m592.868 192.081c-3.408 15.414-4.012 27.477-4.976 38.5-11.969 4.646-16.843 11.563-28.555 16.774 0 0-9.248-1.535-10.218 1.954-.561 2.012 10.827 3.613 10.827 3.613 10.854.051 39.481-7.881 41.417-8.414s7.579-36.921 7.8-56.669c.03-2.8-.069-5.849-1.822-8.036a10.53 10.53 0 0 0 -3.532-2.613c-7.638-3.9-13.3-4.971-21.857-5.514"
            fill="#ce4a30" opacity=".25" transform="translate(361.468 61.531)"/>
      <path d="m565.392 203.54c-1.287-1.619-3.631-1.855-5.7-1.8a41.83 41.83 0 0 0 -4.577.365c-.69.094-1.487.256-1.558 1s3.354 0 5.151.518a90.526 90.526 0 0 1 -10.591.289 3.037 3.037 0 0 0 -1.22.124 1.014 1.014 0 0 0 -.685.929 1.266 1.266 0 0 0 .485.807 7.189 7.189 0 0 0 3.644 1.467c5.4.946 11.078.781 16.1-1.421"
            fill="#ffb9b0" transform="translate(357.028 107.733)"/>
      <path d="m585.921 191.792c-.282 16.477-1.451 24.018-1.132 40.5-8.272 1.769-19.723 11.134-31.435 16.348a6.185 6.185 0 0 0 .388 4.286c.893.327 39.506-9.073 42.576-11.9 2.763-2.547 6.419-33.432 6.645-53.18.03-2.8-.069-5.849-1.822-8.036a10.531 10.531 0 0 0 -3.532-2.613c-7.638-3.9-13.3-4.971-21.857-5.514"
            fill="#fca70c" transform="translate(367.671 61.531)"/>
      <path d="m550.337 199.016c.244 3.512-3.9 6.356-9.269 6.356s-9.911-2.844-10.157-6.356 3.9-6.359 9.269-6.359 9.911 2.843 10.157 6.359z"
            fill="none" opacity=".45" stroke="#fff" stroke-miterlimit="10" transform="translate(333.491 93.786)"/>
      <ellipse cx="3.534" cy="6.176" fill="#fff" rx="3.534" ry="6.176" stroke="#fff"
               transform="matrix(.039 -.999 .999 .039 867.806 296.09)"/>
      <path d="m567.3 161.635c-.13-.617-1.5-.738-2.872-.566s-5.037.634-5.788 1.22-.71 1.007-1.111 1.053-.421-.368-1.3-.751-2.989-.114-4.364.058-2.679.477-2.652 1.106a3.522 3.522 0 0 0 .551 1.9c.279.175.279.145 1.36 2.629a2.623 2.623 0 0 0 3.309 1.8c2.261-.492 2.4-3.068 2.578-4.143s.337-1.236.68-1.279.579.066 1.015 1.066.751 3.3 3.068 3.433c3.032.17 4.346-.868 4.767-2.811.568-2.636.439-2.646.667-2.885a14.364 14.364 0 0 1 2.266.193l-.051-.787a17.129 17.129 0 0 1 -2.123-1.236zm-11.012 5.306a2.64 2.64 0 0 1 -2.235 2.766c-1.39.175-2.027-.563-2.781-2.344a4.607 4.607 0 0 1 -.449-3.212c.236-.426.987-.411 2.712-.52s2.3-.147 2.583.614a9.355 9.355 0 0 1 .173 2.696zm9.885-1.454c-.287 1.911-.987 2.829-2.892 3.057-2.7.325-3.22-.741-3.618-2.027a9.371 9.371 0 0 1 -.5-2.657c.084-.8.65-.913 2.349-1.233s3.971-.718 4.306-.363a4.6 4.6 0 0 1 .358 3.223z"
            fill="#483a99" transform="translate(361.652 45.115)"/>
      <path d="m586.755 168.363a29.21 29.21 0 0 0 -.755-4.063 12.945 12.945 0 0 0 -6.328-8.295 20.236 20.236 0 0 0 -14.318-1.426c-2.621.733-3.593 2.114-4.943 2.076a14.844 14.844 0 0 1 -3.667-1.208c-10.243-3.682-8.525 6.346-7.434 9.1.485 1.218 2.806 2.106 3.116 2.611s.274 2.986.472 4.08a2.163 2.163 0 0 0 1.276 1.507s.056-3.227.107-3.664a4.066 4.066 0 0 1 1.515-3.024 9.4 9.4 0 0 1 3.684-1.035 28.064 28.064 0 0 1 7.539 1.248c1.913 1.642 2.405 5.387 2.943 7.589.249 1.028.51 1.718.929 1.7.317-3.032 1.37-3.108 3.184-2.073.967.553 1.51 2.474 1.543 4.1.038 1.926-1.038 4.047-3.057 4.476-.723.155 1.459 4.291 2.469 5.323a5.521 5.521 0 0 0 1.068.939 4.9 4.9 0 0 0 1.233.457l1.464.4a3.832 3.832 0 0 0 2.012.173c1.081-.3 1.652-1.451 2.139-2.464.8-1.659 1.72-3.268 2.375-4.993a29.656 29.656 0 0 0 1.434-13.534z"
            fill="#483a99" transform="translate(360.509 34.178)"/>
      <path d="m714.86 265.489h-129.652l15.526-11.489v-56.075a8.472 8.472 0 0 1 8.472-8.472h105.654a8.472 8.472 0 0 1 8.472 8.472v59.092a8.472 8.472 0 0 1 -8.472 8.472z"
            fill="#5f8be3" transform="translate(416.978 88.86)"/>
      <path d="m1069.793 289.25h59.252v5.67h-59.252z" fill="#fff" opacity=".45"/>
      <path d="m1069.793 297.72h59.252v5.67h-59.252z" fill="#fff" opacity=".45"/>
      <path d="m1069.793 306.189h59.252v5.67h-59.252z" fill="#fff" opacity=".45"/>
      <path d="m1069.793 314.442h59.252v5.669h-59.252z" fill="#fff" opacity=".45"/>
      <path d="m1069.793 324.315h41.321v5.67h-41.321z" fill="#fff" opacity=".45"/>
      <rect fill="#b9b9f8" height="43.52" rx="3.385" width="37.22" x="1027.919" y="289.25"/>
      <path d="m1027.919 338.19h37.22v4.672h-37.22z" fill="#a2a7f4" opacity=".45"/>
      <path d="m614.91 212.748h-13.51a1.684 1.684 0 0 1 -1.626-1.243l-2.6-9.6a1.685 1.685 0 0 1 1.626-2.124h18.7a1.682 1.682 0 0 1 1.626 2.124l-2.6 9.6a1.684 1.684 0 0 1 -1.616 1.243z"
            fill="#fff" transform="translate(435.289 104.744)"/>
      <path d="m615.128 218.26h-16.267a.336.336 0 0 1 0-.672h16.013l5.661-19.74a.334.334 0 0 1 .322-.244h3.543a.336.336 0 0 1 0 .672h-3.286l-5.661 19.74a.334.334 0 0 1 -.325.244z"
            fill="#fff" transform="translate(437.451 101.391)"/>
      <path d="m602.024 207.978a1.968 1.968 0 1 1 -1.969-1.966 1.969 1.969 0 0 1 1.969 1.966z" fill="#fff"
            transform="translate(436.779 114.317)"/>
      <circle cx="1051.138" cy="322.296" fill="#fff" r="1.967"/>
      <path d="m453.022 258.719h165.187l-19.783-14.635v-90.378a10.791 10.791 0 0 0 -10.794-10.791h-134.61a10.791 10.791 0 0 0 -10.794 10.791v94.219a10.794 10.794 0 0 0 10.794 10.794z"
            fill="#CEF3F0" transform="translate(197.172 17.316)"/>
      <g fill="#fff" opacity=".45" transform="translate(653.752 176.988)">
        <path d="m0 0h75.492v7.224h-75.492z" transform="matrix(-1 0 0 -1 75.492 7.224)"/>
        <path d="m0 0h75.492v7.224h-75.492z" transform="matrix(-1 0 0 -1 75.492 18.014)"/>
        <path d="m0 0h75.492v7.224h-75.492z" transform="matrix(-1 0 0 -1 75.492 28.805)"/>
        <path d="m0 0h75.492v7.224h-75.492z" transform="matrix(-1 0 0 -1 75.492 39.32)"/>
        <path d="m0 0h75.492v7.224h-75.492z" transform="matrix(-1 0 0 -1 75.492 49.834)"/>
        <path d="m0 0h75.492v7.223h-75.492z" transform="matrix(-1 0 0 -1 75.492 68.94)"/>
        <path d="m0 0h128.842v7.224h-128.842z" transform="matrix(-1 0 0 -1 128.842 80.318)"/>
      </g>
      <rect fill="currentColor" height="55.448" rx="4.313" transform="matrix(-1 0 0 -1 782.595 232.436)" width="47.421"/>
      <path d="m0 0h47.421v5.953h-47.421z" fill="#fff" opacity=".45" transform="matrix(-1 0 0 -1 782.595 245.293)"/>
      <path d="m490.782 173.706h17.208a2.148 2.148 0 0 0 2.073-1.586l3.309-12.222a2.145 2.145 0 0 0 -2.07-2.707h-23.831a2.145 2.145 0 0 0 -2.07 2.707l3.309 12.222a2.148 2.148 0 0 0 2.072 1.586z"
            fill="#fff" transform="translate(263.426 39.263)"/>
      <path d="m493.695 180.728h20.725a.428.428 0 1 0 0-.855h-20.4l-7.211-25.15a.426.426 0 0 0 -.411-.31h-4.509a.428.428 0 1 0 0 .855h4.187l7.211 25.15a.426.426 0 0 0 .408.31z"
            fill="#fff" transform="translate(257.481 34.992)"/>
      <path d="m493.2 167.632a2.506 2.506 0 1 0 2.5-2.507 2.5 2.5 0 0 0 -2.5 2.507z" fill="#fff"
            transform="translate(275.531 51.46)"/>
      <path d="m486.016 167.632a2.506 2.506 0 1 0 2.5-2.507 2.5 2.5 0 0 0 -2.5 2.507z" fill="#fff"
            transform="translate(264.49 51.46)"/>
      <ellipse cx="1032.246" cy="744.088" fill="#f5f5fc" rx="72.796" ry="7.674"/>
      <path d="m591.883 370c-.612 1.19-3.54 3.94-7.6 5.752s-12.649 2.662-7.873 4.258 10.34.629 13.161.178a56.848 56.848 0 0 1 8.878-.538c4.387-.028 4.423-.3 3.831-5.245-.811-6.805-8.423-8.253-10.397-4.405z"
            fill="#38424d" transform="translate(401.296 363.198)"/>
      <path d="m618.849 369.785c-.244 1.373 1.705 5.534-1.784 8.589s-11.405 6.27-6.155 6.389a30.562 30.562 0 0 0 12.958-2.413c2.667-1.319.538-3.395 3.849-4.438 4.362-1.378 3.461-4.585 1.2-6.569-2.91-6.536-9.281-6.001-10.068-1.558z"
            fill="#38424d" transform="translate(453.804 360.943)"/>
      <path d="m645.058 347.108s10.454-30.735-19.2-56.052c0 0-15.894 6.328-28.621 7.092-10.025.6-15.112-.322-15.112-.322s-.845 27.3-.88 42.021z"
            fill="#303d47" transform="translate(410.877 245.056)"/>
      <path d="m580.3 339.228c-.573-13.742 14.326-11.941 19.822-1.675 11.362 21.227-4.192 70.116-6.247 93.282-2.136.827-5.717 1.472-7.866.49a5.492 5.492 0 0 1 -2.286-2.527c.332-28.418-2.807-74.876-3.423-89.57z"
            fill="#303d47" transform="translate(409.411 303.985)"/>
      <path d="m599.583 386.389c-1.715 5.613-20.735 11.514-19.192-8.911.683-9.058 2.5-59.079 2.854-63.9s1.16-11.87 3.489-12.75c11.654-4.4 32.267 10.839 29.2 28.946-2.045 12.103-12.798 44.979-16.351 56.615z"
            fill="#303d47" transform="translate(409.436 258.904)"/>
      <path d="m600.218 344.37c-4.6-12.961 10.342-15.254 18.814-7.269 19.842 18.7 20.611 62.763 25.475 85.508a17.4 17.4 0 0 1 -8.675 2.484 3.1 3.1 0 0 1 -2.365-1.21c-8.061-27.252-28.329-65.655-33.249-79.513z"
            fill="#303d47" transform="translate(438.732 308.724)"/>
      <path d="m630.807 387.138c.52 5.843-15.336 17.921-21.575-1.586-2.768-8.652-14.618-59.779-16.1-64.38s-1.078-14.1.751-15.79c9.15-8.454 29.8-1.02 33.759 16.911 2.647 11.987 2.089 52.726 3.165 64.845z"
            fill="#303d47" transform="translate(427.767 261.726)"/>
      <path d="m575.25 263.027c.541-.571 1.081-1.142 1.563-1.761 3.758-4.806 4.306-9.066 7.787-14.643a43.514 43.514 0 0 1 2.53-4.841 20.249 20.249 0 0 1 5.651-4.631c1.626-.853.228 2.733.228 2.733s1.38-2 2.715-1.86c.52.056.612 3.113.619 3.636a25.673 25.673 0 0 1 -2.852 12.139 6.253 6.253 0 0 0 -.972 2.758 6.166 6.166 0 0 0 3.278-1.614c1-.731 2.256-1.4 3.43-1a9.388 9.388 0 0 1 -.66 1.434c-1.484 2.786-3.151 5.752-6 7.107-1.705.807-3.677.952-5.341 1.837-3.007 1.6-4.468 5.3-7.52 6.808"
            fill="#f2a181" transform="translate(401.67 161.986)"/>
      <rect fill="#5e5dbb" height="23.913" rx=".646" transform="matrix(.923 .386 -.386 .923 993.526 399.65)"
            width="12.988"/>
      <path d="m0 0h10.889v21.346h-10.889z" fill="#b4b4db"
            transform="matrix(.92255156 .38587384 -.38587384 .92255156 994.324 401.375)"/>
      <path d="m626.462 267.828a71 71 0 0 0 -14.514 2.451c-10.327 3.1-13.879 7.883-17.447 9.86 6.93-8.8 14.656-27.477 14.656-27.477s-9.317-7.653-10.388-5.841-40.169 47.567-38.948 54.979c.5 3.055 5.031 6.074 9.033 5.937 11.088-.381 23.962-4.415 37.461-8.832 5.935-1.941 7.764 2.243 7.764 2.243"
            fill="#385369" transform="translate(377.907 176.626)"/>
      <path d="m583.3 240.829a2.245 2.245 0 0 1 .7 1.563c.337 2.2.662 4.529-.19 6.582a9.49 9.49 0 0 1 -2.649 3.37 20.732 20.732 0 0 1 -4.032 2.756"
            fill="#f2a181" transform="translate(404.557 167.841)"/>
      <path d="m590.42 234.32c-2.614.754-3.994 4.126-4.882 6.435a35.8 35.8 0 0 0 -1.951 8.68 11.915 11.915 0 0 0 .424 6.107 12.822 12.822 0 0 0 1.705 2.657 5.617 5.617 0 0 0 1.228 1.294 1.894 1.894 0 0 0 1.7.289c.814-.312 1.142-1.269 1.373-2.109 1.5-5.483 3.151-11.03 6.247-15.8"
            fill="#170d54" transform="translate(414.19 157.835)"/>
      <path d="m588.188 242.37c-.053-1.746-1.89-2.885-3.481-1.076-1.319 1.494-1.669 4.336-1.743 6.435-.091 2.515 1.857 3.007 3.461 3.359"
            fill="#f2a181" transform="translate(413.524 167.147)"/>
      <path d="m578.847 264.168c3.225-3.7 13.456-9.794 27.132-9.36 9.421.3 35.081 1.852 37.948 8.155 1.466 3.222 3.04 36.218.893 47.593-1.614 8.556-5.742 29.747-5.742 34.863s2.748 7.307 1.467 8.792c-2.872 3.326-22.506 4.722-31.724 4.722-8.2 0-22.169-2.187-22.877-4.816-1.05-3.9 1.6-3.755 1.961-7.845s1.393-30.638-.112-34.982c-2.718-7.845-4.037-20.639-6.194-26.441-1.638-4.404-5.974-16.984-2.752-20.681z"
            fill="#385369" transform="translate(405.415 189.296)"/>
      <path d="m622.262 269.13c.977 2.035 7.617 12.712 7.617 12.712l.269 1.279a52.843 52.843 0 0 1 -.675 5.7c-1.614 8.556-5.742 29.747-5.742 34.863s2.631 7.214 1.467 8.792c-2.263 3.068-39.286 9.967-37.464 1.4.165-.774 31.072-24.356 31.237-25.147 1.424-6.767 2.667-11.644 3.291-16.579 1.503-11.874-.976-25.055 0-23.02z"
            fill="#31475a" transform="translate(420.762 211.027)"/>
      <path d="m587.762 254.233s-.086 10.733-.518 11.167a16.927 16.927 0 0 1 -2.555 1.436s1.512 9.327 3.849 8.634 17.774-8.487 17.774-8.487-2.19-.891-2.19-1.756 2.078-17.746 2.078-17.746"
            fill="#ffbe9d" transform="translate(416.181 178.067)"/>
      <path d="m600.932 234.777c-2.251.614-8.178-.614-9.814 1.84s-3.068 8.383-3.682 10.02c-1.22 3.255-2.017 6.737-2.9 10.093-1.157 4.374-3.062 12.387 1.218 16.046a5.7 5.7 0 0 0 3.3 1.677c2.027.365 4.042.781 6.069 1.144 3.141.563 6.617 1.22 9.738.208 4.166-1.352 6.45-7.082 7.523-10.971l6.133-22.288z"
            fill="#ffbe9d" transform="translate(413.73 158.537)"/>
      <path d="m587.33 260.162s-.9 41.881-2.608 67.359l6.161 8.492 4.232-10.636a323.853 323.853 0 0 0 -4-64.923z"
            fill="#e8e8e8" transform="translate(416.231 197.562)"/>
      <path d="m585.191 260.311.145.576a11.715 11.715 0 0 0 1.274 3.1l3.781.292s2.568-1.347 2.908-2.794-4.217-3.816-4.217-3.816l-.553.216a8.249 8.249 0 0 0 -3.291 2.367z"
            fill="#e8e8e8" transform="translate(416.952 193.734)"/>
      <path d="m601.258 253.446a15.778 15.778 0 0 1 4.311 4.369c-1.943 4.445-6.336 12.344-11.174 15.942a21.845 21.845 0 0 0 -7.67-9.589s13.181-2.346 14.533-10.722z"
            fill="#38424d" transform="translate(419.309 187.238)"/>
      <path d="m591.407 263.826a16.224 16.224 0 0 0 -7.516 7.143s-.906-7.135 1.02-13.258c0 0 3.1-3.961 4.166-4.042-.441 5.044 2.33 10.157 2.33 10.157z"
            fill="#38424d" transform="translate(414.627 187.58)"/>
      <path d="m592.684 294.522c-4.681.705-6.412 2.446-9.051 5.052a.976.976 0 0 0 -.393.779c.061.373.5.538.873.6 2.174.35 2.527-1.04 4.56-1.888 1.373-.574 2.735-1.167 4.1-1.761"
            fill="#f2a181" transform="translate(413.943 250.385)"/>
      <path d="m605.283 282.432 16.589 53.168a1.9 1.9 0 0 1 -1.758 2.667l-34.614 3.033a3.208 3.208 0 0 1 -2.9-2.235l-17.838-52.355c-.447-1.426 1.614-3.466 3-3.476l34.618-3.034a3.208 3.208 0 0 1 2.903 2.232z"
            fill="#e9e6ff" transform="translate(385.45 228.363)"/>
      <path d="m604.115 282.979 16.358 52.348a1.9 1.9 0 0 1 -1.758 2.673l-34.615 3.033a3.21 3.21 0 0 1 -2.9-2.238l-16.358-52.345a1.9 1.9 0 0 1 1.758-2.669l34.612-3.037a3.212 3.212 0 0 1 2.903 2.235z"
            fill="#e0d9ff" transform="translate(385.481 229.204)"/>
      <path d="m569.348 281.811 1.228 4.589 16.189-1.43-1.331-4.57z" fill="#fff"
            transform="translate(392.597 228.674)"/>
      <path d="m570.679 281.957c.335 1.068 1.621 5.191 1.621 5.191l7.729-.715-1.621-5.191a5.255 5.255 0 0 0 -5.128-3.694c-2.134.197-3.299 2.171-2.601 4.409zm1.713-.107a1.775 1.775 0 0 1 1.459-2.474 2.954 2.954 0 0 1 2.877 2.073 1.774 1.774 0 0 1 -1.459 2.474 2.947 2.947 0 0 1 -2.878-2.073z"
            fill="#fff" transform="translate(394.331 224.264)"/>
      <path d="m606.576 293.059c-3.631.756-13.308 3.644-14.326 4.123a42.863 42.863 0 0 0 -6.171 4.562c-3.641 3.654-1.779 5.356-3.215 10.312a2.9 2.9 0 0 0 -.089.784c0 .515.7.962 1.4.48.381.639 1.5.244 2.05-.452-.01.495.683.807 1.8.19.6-.332.495-.3 1.885-1.543a14.629 14.629 0 0 1 3.938-2.4 28.616 28.616 0 0 0 3.844-1.756c1.469-.967 4.09-1.2 5.384-5.394a4.182 4.182 0 0 1 2.02-2.017l5.917-3.71"
            fill="#ffbe9d" transform="translate(413.24 248.136)"/>
      <path d="m618 281.2c1.54 5.491 7.944 43.538 7.944 43.538l-36.078 26.129 3 7.891s43.168-14.493 46.568-24.4 3.243-54.662-8.746-70.363c-3.816-5-11.464-7.521-11.464-7.521"
            fill="#385369" transform="translate(424.133 191.89)"/>
      <path d="m589.654 298.458a23.21 23.21 0 0 0 -2.52 1.938c-1.03 1.086-1.8 2.289-2.908 3.588" fill="none"
            stroke="#f2a181" stroke-miterlimit="10" stroke-width=".25" transform="translate(415.471 256.436)"/>
      <path d="m588.819 297.516a13.04 13.04 0 0 0 -2.974 3.606 48.7 48.7 0 0 1 -2.367 4.57" fill="none"
            stroke="#f2a181" stroke-miterlimit="10" stroke-width=".25" transform="translate(414.319 254.988)"/>
      <path d="m587.222 296.754c-.35.561-1.835 1.956-2.134 2.542a22.97 22.97 0 0 0 -2.055 5.874" fill="none"
            stroke="#f2a181" stroke-miterlimit="10" stroke-width=".25" transform="translate(413.635 253.817)"/>
      <path d="m613.491 266.132c-1.413-.827-2.5-1.7-3.418-.345-.487.718-.784 1.71-1.616 1.956a1.67 1.67 0 0 1 -1.893-1.34 4.848 4.848 0 0 1 .312-2.545q.853-2.74 1.7-5.483c.556-1.789 1.109-3.755.4-5.491a6.037 6.037 0 0 0 -1.73-2.218 18.33 18.33 0 0 0 -8.419-3.6 89.469 89.469 0 0 1 -9.061-1.862 9.813 9.813 0 0 1 -3.451-1.736 7.446 7.446 0 0 1 -2.446-5.58 11.51 11.51 0 0 1 1.771-5.945 9.889 9.889 0 0 0 .9 2.063 7.665 7.665 0 0 1 1.652-2.588c.88 4.91 21.552 3.268 26.38 5.435 3.349 1.5 6.118 2.481 6.016 7.906a1.987 1.987 0 0 0 .654.863c2.966 2.725 4.253 6.041 4.623 10.961.457 6.024-3.05 12.542-6.488 17.508a11.171 11.171 0 0 1 -2.553 3.052 6.773 6.773 0 0 1 -4.8 1.086c-1.489-.284-4.428-.157-4.455-1.675-.02-1.086 2.3-3.022 2.943-3.9"
            fill="#3b2e7a" transform="translate(414.921 153.375)"/>
      <path d="m593.438 251.917a1.895 1.895 0 0 0 2.834 2.149 6.533 6.533 0 0 0 4.125-5.059c.487-2.606-.913-5.209-3.3-4.532a3.516 3.516 0 0 0 -2.25 3.428"
            fill="#ffbe9d" transform="translate(429.562 173.279)"/>
      <path d="m585.956 250.5 6.633 1.22a9.248 9.248 0 0 1 -6.719 2.479" fill="#f2a181"
            transform="translate(417.996 182.715)"/>
      <g opacity=".3" transform="translate(455.776 287.871)">
        <path d="m380.722 209.591 8.884 4.472-4.442-10.9" fill="#3939d3" transform="translate(-353.159 -177.935)"/>
        <path d="m369.859 210.941c0 9.787 8.406 17.721 18.776 17.721s18.776-7.934 18.776-17.721-8.411-17.721-18.776-17.721-18.776 7.934-18.776 17.721z"
              fill="#3939d3" transform="translate(-369.859 -193.22)"/>
        <path d="m375.447 198.715v12.666a1.327 1.327 0 0 0 1.992 1.149l10.969-6.333a1.327 1.327 0 0 0 0-2.3l-10.969-6.333a1.328 1.328 0 0 0 -1.992 1.151z"
              fill="#fefefe" transform="translate(-361.268 -186.815)"/>
      </g>
      <g opacity=".3">
        <path d="m628.3 262.693-8.884 4.472 4.442-10.9" fill="currentColor" transform="translate(469.572 191.572)"/>
        <path d="m656.536 264.041c0 9.786-8.406 17.721-18.776 17.721s-18.776-7.934-18.776-17.721 8.406-17.718 18.776-17.718 18.776 7.932 18.776 17.718z"
              fill="currentColor" transform="translate(468.902 176.288)"/>
        <g fill="#fefefe">
          <path d="m625.151 269c4.093.066 8.236.119 12-.127 1.19-.079 2.22-1.865.774-2.428a2.633 2.633 0 0 0 1.492-1.223 1.188 1.188 0 0 0 -.726-1.6c1.421.332 1.979-1.794.873-2.479a3.114 3.114 0 0 0 1.2-1.812 1.777 1.777 0 0 0 -.865-1.873 3.267 3.267 0 0 0 -1.474-.241q-2.553-.015-5.1-.036c.462-2.512.6-5.252-.754-7.46-.409-.665-1.5-1.461-2.372-.949-.815.48-.589 1.672-.548 2.423a8.409 8.409 0 0 1 -4.651 7.752s.194 6.658.151 10.053z"
                transform="translate(478.154 179.813)"/>
          <path d="m1095.637 438.76h6.185v10.047h-6.185z"/>
        </g>
      </g>
      <g opacity=".3">
        <path d="m512.376 202.433 6.481-7-8.881 1.74" fill="#0898e7" transform="translate(301.321 98.051)"/>
        <path d="m501.458 206.617c0 7.1 6.1 12.849 13.618 12.849s13.615-5.752 13.615-12.849-6.1-12.849-13.615-12.849-13.618 5.752-13.618 12.849z"
              fill="#0898e7" transform="translate(288.227 95.494)"/>
        <g fill="#fefefe">
          <path d="m505.856 210.215c2.682.046 5.394.086 7.861-.094.782-.056 1.454-1.35.507-1.761a1.778 1.778 0 0 0 .977-.885.887.887 0 0 0 -.474-1.157c.931.241 1.3-1.3.571-1.8a2.281 2.281 0 0 0 .784-1.312 1.341 1.341 0 0 0 -.566-1.36 1.952 1.952 0 0 0 -.967-.173l-3.344-.028a8.4 8.4 0 0 0 -.492-5.41c-.269-.482-.984-1.058-1.555-.688-.533.348-.386 1.213-.358 1.758a6.213 6.213 0 0 1 -3.042 5.615s.126 4.832.098 7.295z"
                transform="translate(294.835 98.052)"/>
          <path d="m795.668 300.974h4.052v7.285h-4.052z"/>
        </g>
      </g>
      <g opacity=".3" transform="translate(841.305 173.948)">
        <path d="m557.591 180.933a20.042 20.042 0 1 0 -4.567 4.2l7.779 4.149z" fill="#f94f4f"
              transform="translate(-521.802 -148.321)"/>
        <path d="m527.274 154.927a4.9 4.9 0 0 1 6.937.071l1.251 1.276 1.286-1.266a4.9 4.9 0 1 1 6.882 6.992l-4.77 4.7-.028.033a4.906 4.906 0 0 1 -6.937-.074l-4.694-4.793a4.905 4.905 0 0 1 .073-6.939z"
              fill="#fff" transform="translate(-515.656 -140.322)"/>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "AboutImage"
}
</script>

<style scoped>

</style>