<template>
  <div>
    <!--====== SERVICES PART START ======-->

    <section class="services_area pt-32" id="about">
      <div class="container">
        <div class="row justify-center">
          <div class="w-full lg:w-1/2">
            <div class="section_title text-center pb-6">
              <h5 class="sub_title">О компании</h5>
              <h4 class="main_title">Как мы работаем</h4>
            </div> <!-- section title -->
          </div>
        </div> <!-- row -->
        <div class="row justify-center">
          <div class="w-full sm:w-10/12 md:w-6/12 lg:w-4/12" v-for="(item,index) in items" :key="index">
            <div class="single_services text-center mt-8 mx-3">
              <div class="services_icon">
                <h4 class="title group-hover:text-white">{{ index + 1 }}</h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 92 92">
                  <path class="services_shape" id="Polygon_12" data-name="Polygon 12"
                        d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z"/>
                </svg>
              </div>
              <div class="services_content mt-5">
                <h3 class="services_title text-black font-semibold text-xl md:text-3xl">{{ item.title }}</h3>
                <p class="mt-3">{{ item.text }} Lorem ipsum dolor sit amet.</p>
              </div>
            </div> <!-- single services -->
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </section>

    <!--====== SERVICES PART ENDS ======-->

    <!--====== ABOUT PART START ======-->

    <section id="why" class="about_area pt-32 relative">
      <div class="about_image flex items-end justify-end">
        <div class="image lg:pr-13">
          <about-image class="text-primary" />
<!--          <img src="../assets/images/about.svg" alt="about">-->
        </div>
      </div> <!-- about image -->
      <div class="container">
        <div class="row justify-end">
          <div class="w-full lg:w-1/2">
            <div class="about_content mx-4 pt-11 lg:pt-15 lg:pb-15">
              <div class="section_title pb-9">
                <h5 class="sub_title">Почему именно мы?</h5>
                <h4 class="main_title">Почему нужно выбрать нас?</h4>
              </div> <!-- section title -->
              <p>На данный момент очень мало компаний на рынке, которые профессионально предоставляют услуги аудита в различных направлениях, но среди наших немногочисленных конкурентов мы отличаемся:</p>
              <ul class="about_list pt-3">
                <li class="flex mt-5" v-for="(i,index) in abouts" :key="index">
                  <div class="about_check">
                    <i class="lni lni-checkmark-circle">
                      <img class="w-4" src="../assets/images/check.svg" alt="check">
                    </i>
                  </div>
                  <div class="about_list_content pl-5 pr-2">
                    <p>{{ i }}</p>
                  </div>
                </li>
              </ul>
            </div> <!-- about content -->
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->
  </div>
</template>

<script>
import AboutImage from "@/components/images/AboutImage";
export default {
  components: {
    AboutImage,
  },
  data() {
    return {
      items: [
        {
          title: 'Заявка',
          text: 'Вы оставляете заказ на сайте'
        },
        {
          title: 'Контакт',
          text: 'Наш менеджер связывается с вами'
        },
        {
          title: 'Ресурсы',
          text: 'Вы предоставляете данные для аудита'
        },
        {
          title: 'Договор',
          text: 'Мы подписываем договор'
        },
        {
          title: 'Результат',
          text: 'Вы Получаете готовый отчет'
        },
      ],
      abouts: [
          'Минимум документальной бюрократии, средний срок подписания договора 1 сутки.',
          'Мы всегда на связи. Да, и в выходные, и в праздники и ночью. Мы заботимся о своих клиентах и, если вам необходим срочный аудит, мы готовы вам помочь в решении этой задачи.',
          'В нашей команде только высококвалифицированные сотрудники. У всех наших экспертов есть высшее техническое образование и минимум 3 года работы в профессиональной области.',
          'Предоставляем аудит быстро. Минимальный срок предоставления аудита 3-е суток. У нас есть средства автоматизации сбора метрик, написанные нами под нужды наших клиентов. Ни у кого на рынке нет этого ПО.',
      ]
    }
  },
}
</script>