<template>
  <!--====== CONTACT PART START ======-->

  <section id="contact" class="contact_area relative pt-18 pb-32">
    <div class="contact_image flex items-center justify-end">
      <div class="image lg:pr-13">

<!--        <img src="../assets/images/contact.svg" alt="about">-->
        <contact-image class="text-primary" />
      </div>
    </div> <!-- about image -->

    <div class="container">
      <div class="row justify-end">
        <div class="w-full lg:w-1/2">
          <div class="contact_wrapper mt-11">
            <div class="section_title pb-4">
              <h5 class="sub_title">Конткты</h5>
              <h4 class="main_title">Свяжитесь с нами</h4>
              <p>Заполните форму, мы перезвоним и ответим на все ваши вопросы!</p>
            </div> <!-- section title -->

            <div class="contact_form">
              <form @submit.prevent="sendEmail" v-if="!sended" id="contact-form">
                <div class="row">
                  <div class="w-full md:w-1/2">
                    <div class="mx-3">
                      <div class="single_form mt-8">
                        <input name="name" v-model="name" id="name" type="text" placeholder="Как вас зовут?" required
                               class="w-full rounded-md py-4 px-6 border border-solid border-body-color">
                      </div> <!-- single form -->
                    </div>
                  </div>
                  <div class="w-full md:w-1/2">
                    <div class="mx-3">
                      <div class="single_form mt-8">
                        <input name="email" v-model="subject" type="text" placeholder="Как с вами связаться?" required
                               class="w-full rounded-md py-4 px-6 border border-solid border-body-color">
                      </div> <!-- single form -->
                    </div>
                  </div>
                  <div class="w-full">
                    <div class="mx-3">
                      <div class="single_form mt-8">
                          <textarea v-model="message" name="message" id="message" placeholder="Ваш вопрос" rows="5" required
                                    class="w-full rounded-md py-4 px-6 border border-solid border-body-color resize-none"></textarea>
                      </div> <!-- single form -->
                    </div>
                  </div>
                  <p class="form-message mx-3"></p>
                  <div class="w-full">
                    <div class="mx-3">
                      <div class="single_form mt-8">
                        <button type="submit" class="main-btn bg-primary">Отправить</button>
                      </div> <!-- single form -->
                    </div>
                  </div>
                </div> <!-- row -->
              </form>
              <div v-else class="text-2xl">Ваша заявка отправлена, мы сважемся с вами в ближайшее время.</div>
            </div> <!-- contact form -->

            <hr class="my-6 text-primary h-8">

            <div class="flex-wrap lg:flex items-center">
              <div class="w-full mb-2 text-xl font-semibold lg:w-1/2 lg:mb-0 pr-4 text-center lg:text-left">
                Или напишите нам, мы всегда на связи
              </div>
              <div class="w-full lg:w-1/2 flex justify-center lg:justify-start">
                <svg  v-for="i in 4" :key="i" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="mr-2 hover:scale-125 transition-all duration-300" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                </svg>
              </div>
            </div>
          </div> <!-- contact wrapper -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </section>

  <!--====== CONTACT PART ENDS ======-->
</template>

<script>
import ContactImage from "@/components/images/ContactImage";
import axios from 'axios';

export default {
  components: {
    ContactImage,
  },
  data() {
    return {
      preloader: false,
      name: '',
      subject: '',
      message: '',
      sended: false,
    }
  },
  methods: {
    async sendEmail() {
      let text = `Имя: ${this.name}\n Связь: ${this.subject}\n Текст: ${this.message}`

      await axios
          .get(`https://0kn2uhs616.execute-api.us-east-2.amazonaws.com/test`, {
            mode: 'cors',
            headers: {
              'Access-Control-Allow-Origin': '*'
            },
            params: {
              text: text
            },
          })
          this.sended = true
    },
  },
}
</script>
