<template>
  <!--====== HEADER PART START ======-->

  <section class="header_area">

    <the-navbar />

    <div id="home" class="header_hero bg-gray relative z-10 overflow-hidden lg:flex items-center pt-16">
      <div :class="`hero_shape shape_${index+1}`" v-for="(i,index) in shapes" :key="index">
        <img :src="require(`../assets/images/shape/shape-${i}.svg`)" alt="shape">
      </div><!-- hero shape -->

      <div class="container">
        <div class="row">
          <div class="w-full lg:w-1/2">
            <div class="header_hero_content pt-150 lg:pt-0">
              <h2 class="hero_title text-2xl sm:text-4xl md:text-4xl xl:text-5xl font-extrabold">
                Самый быстрый и качественный <span class="text-theme-color">IT аудит</span> на рынке
                </h2>
              <p class="mt-8 lg:mr-8">Лучшие специалисты на рынке готовы предоставить вам почти любой вид аудита от 3-х рабочих дней.</p>
<!--              <div class="hero_btn mt-10">-->
<!--                <a class="main-btn" href="#0">Get Started</a>-->
<!--              </div>-->
            </div> <!-- header hero content -->
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
      <div class="header_shape hidden lg:block"></div>

      <div class="header_image flex items-center">
        <div class="image w-full 2xl:pl-25">
          <header-image class="text-primary mx-auto xl:mr-auto" />
<!--          <img class="mx-auto xl:mr-auto" src="../assets/images/header-image.svg" alt="Header Image">-->
        </div>
      </div> <!-- header image -->
    </div> <!-- header hero -->
  </section>

  <!--====== HEADER PART ENDS ======-->
</template>

<script>
import TheNavbar from "./TheNavbar"
import HeaderImage from "@/components/images/HeaderImage";
export default {
  components: {
    TheNavbar,
    HeaderImage
  },
  data() {
    return {
      shapes: [1,2,3,4,1,4,3,2,4,1,2]
    }
  },
}
</script>