<template>
  <!--====== PRICING PLAN PART START ======-->

  <section id="pricing" class="pricing_area pt-32 pb-32">
    <div class="container">
      <div class="row justify-center">
        <div class="w-full lg:w-1/2">
          <div class="section_title text-center pb-6">
            <h5 class="sub_title">Мы предлагаем</h5>
            <h4 class="main_title">Выберите нужные вам услуги</h4>
          </div> <!-- section title -->
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="w-full">
          <div class="pricing_content mt-6_area">
            <div class="tab-content">
              <div class="tab-pane" id="monthlyPlan" data-tab-content>
                <div class="row justify-center">
                  <div class="w-full sm:w-9/12 md:w-7/12 lg:w-4/12" v-for="(item, index) in items" :key="index">
                    <div class="single_pricing text-center mt-8 mx-3">
                      <div class="font-bold text-black text-3xl">
                        <h4>{{ item.title }}</h4>
                      </div>
                      <div class="pricing_content mt-4">
                        <span class="pricing_price font-bold text-black text-xl">{{ item.price }}</span>
                        <p class="mt-4 leading-6"> {{ item.description }} </p>
                        <div class="mt-4">
                          <ul>
                            <li v-for="(item, index) in item.pluses" class="border-b border-primary py-2" :key="index">
                              {{ item }}
                            </li>
                          </ul>
                        </div>
                        <a href="" class="main-btn pricing_btn">Пример отчета</a>
                      </div>
                    </div>  <!-- single pricing -->
                  </div>
                </div> <!-- row -->
              </div>
            </div>
          </div> <!-- pricing menu -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </section>

  <!--====== PRICING PLAN PART ENDS ======-->
</template>

<script>
  export default {
    data() {
      return {
        items: [
          {
            title: 'Перформанс аудит фронтенда',
            description: 'Решение для тех, кто хочет повысить производительность своего веб-ресурса путем оптимизации клиентской части.',
            price: 'от 20 000 до 100 000 рублей',
            pluses: [
                'сбор метрик идет в течении суток',
                'на основании собранных данных производится анализ',
                'даются рекомендации по оптимизации',
                'вы получаете готовый отчет и базу данных собранных метрик'
            ]
          },
          {
            title: 'Аудит бекенда',
            description: 'Поможет найти узкие места вашего веб-ресурса, что однозначно повысит его производительность.',
            price: 'от 20 000 до 100 000 рублей',
            pluses: [
              'сбор метрик идет в течении суток',
              'на основании собранных данных производится анализ',
              'даются рекомендации по оптимизации',
              'вы получаете готовый отчет и базу данных собранных метрик'
            ]

          },
          {
            title: 'Аудит безопасности',
            price: 'от 20 000 до 100 000 рублей',
            description: 'Специалисты по защите данных проведут анализ вашего ресурса на уязвимости и помогут обеспечить безопасность.',

            pluses: [
              'сбор метрик идет в течении суток',
              'на основании собранных данных производится анализ',
              'даются рекомендации по оптимизации',
              'вы получаете готовый отчет и базу данных собранных метрик'
            ]

          }
        ]
      }
    },
  }
</script>