<template>
  <!--====== SERVICES PART START ======-->

  <section id="services" class="services_area pt-32 pb-32">
    <div class="container">
      <div class="row justify-center">
        <div class="w-full lg:w-1/2">
          <div class="section_title text-center pb-6">
            <h5 class="sub_title">Чем мы занимаемся?</h5>
            <h4 class="main_title">Наши компетенции</h4>
          </div> <!-- section title -->
        </div>
      </div> <!-- row -->
      <div class="row justify-center">
        <div v-for="(item, index) in abouts" :key="index" class="w-full sm:w-10/12 md:w-6/12 lg:w-4/12">
          <div class="single_services text-center mt-8 mx-3">
            <div class="services_icon">
              <i class="lni lni-layout"></i>
              <svg xmlns="http://www.w3.org/2000/svg" width="94" height="92" viewBox="0 0 94 92">
                <path class="services_shape" id="Polygon_12" data-name="Polygon 12"
                      d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z"/>
              </svg>
            </div>
            <div class="services_content mt-5 xl:mt-10">
              <h3 class="services_title text-black font-semibold text-xl md:text-2xl lg:text-xl xl:text-3xl">{{ item.title }}</h3>
              <p class="mt-4">{{ item.text }}</p>
            </div>
          </div> <!-- single services -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </section>
  <!--====== SERVICES PART ENDS ======-->
</template>

<script>
export default {
  data() {
    return {
      abouts: [
        {
          title: 'Аудит веб ресурсов',
          text: 'Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.'
        },
        {
          title: 'Разработка программного обеспечения',
          text: 'Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.'
        },
        {
          title: 'Поддержка и доработка вашего проекта',
          text: 'Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.'
        },
        {
          title: 'Написание технической документации',
          text: 'Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.'
        },
      ]
    }
  },
}
</script>