<template>
  <!--====== TEAM PART START ======-->

  <section id="team" class="team_area bg-gray pt-32 pb-32">
    <div class="container">
      <div class="row justify-center">
        <div class="w-full lg:w-1/2">
          <div class="section_title text-center pb-6">
            <h5 class="sub_title">Team</h5>
            <h4 class="main_title">Meet Our Team Members</h4>
          </div> <!-- section title -->
        </div>
      </div> <!-- row -->
      <div class="team-wrapper relative">
        <div class="row team_active justify-center">
          <div v-for="(item, index) in team" :key="index" class="w-full lg:w-1/4">
            <div class="single_team_item mx-auto">
              <div class="single_team mx-3">
                <div class="team_image relative">
                  <div class="w-full h-80 bg-cover bg-center" :style="{'background-image': 'url(' + require(`../assets/images/${item.image}`) + ')'}">

                  </div>
<!--                  <img :src="require(`../assets/images/${item.image}`)" alt="team" class="w-full">-->
                </div>
                <div class="team_content py-5 px-8 relative">
                  <h4 class="team_name text-xl md:text-2xl group-hover:text-white">{{ item.name }}</h4>
                  <p class="mt-2 transition-all duration-300 group-hover:text-white">{{ item.position }}</p>
                </div>
              </div> <!-- single team -->
            </div>
          </div>
        </div> <!-- row -->
      </div>
    </div> <!-- container -->
  </section>

  <!--====== TEAM PART ENDS ======-->
</template>

<script>
export default {
  data() {
    return {
      team: [
        {
          image: 'rus.png',
          position: 'Руслан Мехтиев',
          name: 'Основатель'
        },
        {
          image: 'den.jpg',
          position: 'Тихонов Денис',
          name: 'Основатель'
        },
        {
          image: 'kz.jpg',
          position: 'Руслан Мехтиев',
          name: 'Директор филиала в р. Казахстан'
        },
        {
          image: 'rus.png',
          position: 'Руслан Мехтиев',
          name: 'Ведущий разработчик'
        },
        {
          image: 'den.jpg',
          position: 'Тихонов Денис',
          name: 'Ведущий разработчик'
        },
        {
          image: 'rus.png',
          position: 'Руслан Мехтиев',
          name: 'Системный архитектор'
        },
        {
          image: 'rus.png',
          position: 'Руслан Мехтиев',
          name: 'Технический специалист'
        },
        {
          image: 'den.jpg',
          position: 'Тихонов Денис',
          name: 'DevOps инжинер'
        },
        {
          image: 'den.jpg',
          position: 'Тихонов Денис',
          name: 'Программный директор образовательных курсов'
        },
        {
          image: 'rus.png',
          position: 'Руслан Мехтиев',
          name: 'Архитектор баз данных'
        },
        {
          image: 'den.jpg',
          position: 'Тихонов Денис',
          name: 'Архитектор баз данных'
        },
        {
          image: 'rus.png',
          position: 'Руслан Мехтиев',
          name: 'Программный директор образовательных курсов'
        },
        {
          image: 'den.jpg',
          position: 'Тихонов Денис',
          name: 'Разработчик Bitrix'
        },
        {
          image: 'rus.png',
          position: 'Руслан Мехтиев',
          name: 'Архитектор информационных систем'
        },
        {
          image: 'den.jpg',
          position: 'Тихонов Денис',
          name: 'Лектор образовательных программ'
        },
        {
          image: 'rus.png',
          position: 'Руслан Мехтиев',
          name: 'Руководитель офиса Белореченская, 33'
        },


      ]
    }
  },
}
</script>