<template>
  <footer class="bg-black py-1 text-primary">
    <div class="container flex justify-between items-center">
      <div class="font-bold">
        <the-logo class="h-4"/>
      </div>
      <div class="text-sm font-light">2022. Все права защищены.</div>
    </div>
  </footer>
</template>

<script>
import TheLogo from "@/components/TheLogo";
export default {
  components: {
    TheLogo,
  },
}
</script>