<template>
  <svg width="90" height="24" viewBox="0 0 90 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.24 23V0.599998H10.48C12.528 0.599998 14.288 0.930665 15.76 1.592C17.2533 2.25333 18.4053 3.21333 19.216 4.472C20.0267 5.70933 20.432 7.18133 20.432 8.888C20.432 10.5733 20.0267 12.0347 19.216 13.272C18.4053 14.488 17.2533 15.4267 15.76 16.088C14.288 16.728 12.528 17.048 10.48 17.048H3.76L6.576 14.392V23H0.24ZM14.096 23L8.528 14.84H15.28L20.88 23H14.096ZM6.576 15.064L3.76 12.152H10.096C11.4187 12.152 12.4 11.864 13.04 11.288C13.7013 10.712 14.032 9.912 14.032 8.888C14.032 7.84267 13.7013 7.032 13.04 6.456C12.4 5.88 11.4187 5.592 10.096 5.592H3.76L6.576 2.68V15.064ZM31.6075 23.448C29.9008 23.448 28.3755 23.1813 27.0315 22.648C25.6875 22.0933 24.6208 21.336 23.8315 20.376C23.0635 19.416 22.6795 18.3387 22.6795 17.144C22.6795 15.9707 22.9355 14.9253 23.4475 14.008C23.9808 13.0907 24.7915 12.248 25.8795 11.48C26.9888 10.712 28.3968 9.976 30.1035 9.272C31.2342 8.78133 32.1195 8.344 32.7595 7.96C33.3995 7.576 33.8475 7.21333 34.1035 6.872C34.3808 6.50933 34.5195 6.14667 34.5195 5.784C34.5195 5.336 34.3702 4.97333 34.0715 4.696C33.7728 4.41867 33.3248 4.28 32.7275 4.28C32.1088 4.28 31.6182 4.44 31.2555 4.76C30.9142 5.08 30.7435 5.47467 30.7435 5.944C30.7435 6.22133 30.7968 6.49867 30.9035 6.776C31.0315 7.05333 31.2662 7.37333 31.6075 7.736C31.9702 8.09867 32.4715 8.568 33.1115 9.144L44.9195 19.64L41.6555 23.384L28.3435 11.512C27.6182 10.872 27.0208 10.2533 26.5515 9.656C26.1035 9.05867 25.7622 8.46133 25.5275 7.864C25.3142 7.26667 25.2075 6.65867 25.2075 6.04C25.2075 4.888 25.5168 3.88533 26.1355 3.032C26.7542 2.15733 27.6288 1.48533 28.7595 1.016C29.8902 0.525332 31.2128 0.279999 32.7275 0.279999C34.1142 0.279999 35.3195 0.493332 36.3435 0.919998C37.3888 1.34667 38.1995 1.96533 38.7755 2.776C39.3515 3.58667 39.6395 4.54667 39.6395 5.656C39.6395 6.63733 39.3835 7.53333 38.8715 8.344C38.3808 9.15467 37.6128 9.90133 36.5675 10.584C35.5435 11.2667 34.2315 11.9387 32.6315 12.6C31.6502 13.0053 30.8608 13.4107 30.2635 13.816C29.6875 14.2213 29.2715 14.6373 29.0155 15.064C28.7595 15.4693 28.6315 15.9387 28.6315 16.472C28.6315 16.8987 28.7702 17.2933 29.0475 17.656C29.3248 18.0187 29.7195 18.3067 30.2315 18.52C30.7435 18.712 31.3515 18.808 32.0555 18.808C33.2928 18.808 34.4342 18.5093 35.4795 17.912C36.5248 17.2933 37.4208 16.3973 38.1675 15.224C38.9355 14.0507 39.4582 12.632 39.7355 10.968L44.6315 12.44C44.1622 14.6373 43.3088 16.5573 42.0715 18.2C40.8555 19.8427 39.3515 21.1333 37.5595 22.072C35.7888 22.9893 33.8048 23.448 31.6075 23.448ZM47.99 23V0.599998H58.582C61.0567 0.599998 63.2327 1.05867 65.11 1.976C66.9873 2.89333 68.4487 4.184 69.494 5.848C70.5607 7.512 71.094 9.496 71.094 11.8C71.094 14.0827 70.5607 16.0667 69.494 17.752C68.4487 19.416 66.9873 20.7067 65.11 21.624C63.2327 22.5413 61.0567 23 58.582 23H47.99ZM54.326 17.944H58.326C59.606 17.944 60.7153 17.7093 61.654 17.24C62.614 16.7493 63.3607 16.0453 63.894 15.128C64.4273 14.1893 64.694 13.08 64.694 11.8C64.694 10.4987 64.4273 9.38933 63.894 8.472C63.3607 7.55467 62.614 6.86133 61.654 6.392C60.7153 5.90133 59.606 5.656 58.326 5.656H54.326V17.944ZM79.546 19.416V4.184H84.474V19.416H79.546ZM74.106 14.136V9.464H89.882V14.136H74.106Z" fill="currentColor"/>
  </svg>
</template>

<script>
export default {
  name: "TheLogo.vue"
}
</script>

<style scoped>

</style>