<template>
  <!--====== HEADER PART START ======-->
  <section class="header_area">
    <div class="navbar-area bg-white">
      <div class="container">
        <div class="row items-center">
          <div class="w-full">
            <nav class="flex items-center justify-between py-2 navbar navbar-expand-lg">
              <a class="navbar-brand mr-5" href="index.html">
                <the-logo class="text-primary"/>
              </a>
              <button @click="navbar = !navbar" class="block navbar-toggler focus:outline-none lg:hidden" type="button" data-toggle="collapse"
                      data-target="#navbarOne" aria-controls="navbarOne" aria-expanded="false"
                      aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
              </button>

              <div
                  class="absolute left-0 z-20 w-full px-5 hidden py-2 duration-300 bg-white lg:w-auto collapse navbar-collapse lg:block top-full mt-full lg:static lg:bg-transparent shadow lg:shadow-none"
                  id="navbarOne">
                <ul id="nav" class="items-center content-start mr-auto lg:justify-end navbar-nav lg:flex">
                  <li class="nav-item ml-5 lg:ml-11" v-for="(item, index) in menuItems" :key="index">
                    <a class="page-scroll" :href="`#${item.href}`">{{ item.text }}</a>
                  </li>
                </ul>
              </div> <!-- navbar collapse -->


            </nav> <!-- navbar -->
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- header navbar -->
    <transition name="slide">

    <div
        v-if="navbar"
        class="fixed text-right right-0 z-50 h-full w-full bg-white text-black px-4 pt-4 mt-10"
    >
      <div :class="`hero_shape navbar_shape_${index+1}`" v-for="(i,index) in shapes" :key="index">
        <img :src="require(`../assets/images/shape/shape-${i}.svg`)" alt="shape">
      </div><!-- hero shape -->
      <ul>
        <li v-for="(item, index) in menuItems" :key="index" class="mt-3">
          <div class="font-bold text-2xl" @click="navigate(item.href)">{{ item.text }}</div>
        </li>
      </ul>
    </div> <!-- navbar collapse -->
    </transition>
  </section>
  <!--====== HEADER PART ENDS ======-->
</template>

<script>
import TheLogo from "@/components/TheLogo";

  export default {
    components: {
      TheLogo,
    },
    data() {
      return {
        navbar: false,
        shapes: [1,2,3,4,1,4,3,2,4,1,2],
        menuItems: [
          {
            text: 'Главная',
            href: 'home'
          },
          {
            text: 'О проекте',
            href: 'about'
          },          {
            text: 'Услуги',
            href: 'services'
          },          {
            text: 'Цены',
            href: 'pricing'
          },          {
            text: 'Команда',
            href: 'team'
          },
          {
            text: 'Контакты',
            href: 'contact'
          },
        ]
      }
    },
    methods: {
      navigate(value) {
        this.navbar = false
        document.getElementById(value).scrollIntoView();

      }
    },
    watch: {
      navbar: function() {
        if(this.navbar){
          document.documentElement.style.overflow = 'hidden'
          return
        }
        document.documentElement.style.overflow = 'auto'
      }
    }
  }
</script>

<style>
ul {
  cursor: pointer;
}

.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}


.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(100%, 0);
}

</style>