<template>
  <div>
    <app-intro />
    <app-about />
<!--    <app-services />-->
    <app-pricing />
    <app-team />
    <app-contact />
    <the-footer />

    <a href="#" class="scroll-top bg-primary"><i class="transform -rotate-90">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </i></a>
  </div>
</template>

<script>
import AppIntro from "./components/AppIntro"
import AppAbout from "./components/AppAbout"
import AppPricing from "./components/AppPricing"
import AppContact from "./components/AppContact"
import TheFooter from "@/components/TheFooter";
import AppTeam from "@/components/AppTeam";
// import AppServices from "@/components/AppServices";
export default {
  components: {
    TheFooter,
    AppIntro,
    AppAbout,
    AppPricing,
    AppContact,
    AppTeam,
    // AppServices
  }
}
</script>